//	=========================================================================
//	IE bugfixes
//
//  Yes, i know, a lot of !important. But unfortunately i don't seem to be
//  able to control the order, in which the scripts are concatenated.
//  And unfortunately, styles.ie gets imported BEFORE styles :(.
//
//	=========================================================================
@import "modules/cssfx";
@import "modules/mixins";

.block--welcome {
	/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0ODUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNjYWVlZjIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlOGY4ZmEiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0ODUpIiAvPgo8L3N2Zz4=);
}

.image-row img {
	max-height: 50vm !important; 
}

	
.timeline-row {

	@media only screen and (min-width: 1000px) {

		&:before {
			border-right-width: 6px !important;
		}

		&:first-of-type:before {
  		height: calc(100% + 18px) !important;
  		top: -18px !important;
  	}

  	&:last-of-type:after {
  		left: calc(50% - 3px) !important;
  	}
  }
}

.block--howto h1 {
	@media only screen and (min-width: 1000px) {
		border-bottom-width: 6px !important;
	}
}
 

.cell--service { 

	&:first-of-type:after {
		border-bottom-width: 6px !important;
		
		@media only screen and (min-width: 720px) {
			border-bottom-width: 0;
			border-right-width: 6px !important;
		}
	}
}


img,
.cell-image__frame {

  @media only screen and (min-width: 800px) {
    max-height: 100% !important;
  }
}


.page-services .headline--service {
	padding-top: 9px !important;
	
	@media only screen and (min-width:1000px) {
    padding-top: 6px !important;
  }
}


.page-welcome .block--services .headline--service {
	margin-top: -15px !important;
}

.page-service .stage__title {
	padding: 0 30px 15px 0 !important;
}



@-ms-keyframes slideDown {
  0% {
      -ms-transform: translateY(-100%);
  }
  100% {
      -ms-transform: translateY(.1%);
  }
}

@-ms-keyframes slideUp {
  0% {
      -ms-transform: translateX(.1%);
  }
  100% {
      -ms-transform: translateX(-100%);
  }
}

.animated.slideDown {
  -ms-animation-name: slideDown;
}

.animated.slideUp {
  -ms-animation-name: slideUp;
}