//	=========================================================================
//	Modules
//	=========================================================================
@import "modules/cssfx";
@import "modules/mixins";

//	=========================================================================
//	Widgets
//	=========================================================================
@import "partials/base";
// @import "partials/typography";
// @import "modules/generic";

// @import "partials/block";
// @import "partials/cell";

// @import "partials/header";

// @import "partials/main-nav";

// @import "partials/stage";

// @import "partials/page-welcome";


//	#########################################################################
//	TYPOGRAPHY
//	#########################################################################

body {
	margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: Arial,sans-serif;
  color: $color-logo1;
}

p {
  margin: 0 0 30px; 
}

a {
  color: $color-logo1;
  text-decoration: none;
}

// b,
// strong {
//   font-family: $font-semibold;
//   font-weight: normal;
//   font-style: normal;
// }

ul,
ol {
  margin: 0 0 30px;
  padding: 0;
  list-style-position: inside;
}

li  {
  margin: 0 0 9px;
}


//	=========================================================================
//	Headlines
//	=========================================================================

h1, h2, h3, h4, h5, h6	{
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin:0;
  margin:0 0 24px;
  // font-family: $font-regular;
}



.fontsize-alpha {
  @include fluid-type(font-size, 320px, 900px, 30px, 72px);
}

.fontsize-beta {
  @include fluid-type(font-size, 320px, 720px, 18px, 30px);
}


/*---------------------------------------------------------------------------*\
    General block element
    to set unified position, padding & margin across all pages
\*---------------------------------------------------------------------------*/


.block {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px; 
  @include clearfix-html5bp();
  
  @media only screen and (min-width:480px) {
    padding: 30px;
  }

  @media only screen and (min-width:1200px) {
    padding: 36px 30px;
  }
}

/*
 *  While a regular block is limited to 1200px width, .block--strech fills
 *  the entire width of the browser-window. It should be used to set different
 *  background (colors, images) to different sections within a page.
 */
.block--stretch {
  margin: 0;
  max-width: 100%;
  overflow: hidden; /* for intended use of cropped icons in background */
}


/*
 *  When using .block-stretch, you can have a second .block inside it, to
 *  keep the centered positioning of the content block.
 */
.block > .block:not(.block--headline) {
  padding: 0;
  
  @media only screen and (min-width:1200px) {
    max-width: 1140px;
  }
}


.block  .block--headline {
  padding-bottom: 30px;
  
  h1 {
    margin-bottom: 0;
  }
}


//	#########################################################################
//	HEADER
//	#########################################################################
/*
 *  1. Overriding base.scss value
 */
.header {
  border-bottom: 0; // 1.
  
  .block {
    padding: 0;
  }
}


/*------------------------------------*\
  Logo
\*------------------------------------*/

.logo-main {
  position: relative;
  width: 67%;
  
  a {
    display: block;
  }
}

.toctoc-logo {
  display: inline-block;
  margin: 14px 6px 14px 9px;
  vertical-align: middle;

  @media only screen and (min-width: 750px) {
    margin-left: 2%;
  }
}


[class*="logo-part"] {
  width: 100px;
  display: inline-block;
  font-size: 30px;
  
  @media only screen and (min-width: 500px) {
    width: auto;
    font-size: 36px;
  }

  @media only screen and (min-width: 700px) {
    font-size: 42px;
  }
}

.logo-part1 {
  color: $color-logo1;
  vertical-align: middle;
}

.logo-part2 {
  color: $color-logo0;
  // font-family: $font-regular;
}


/*------------------------------------*\
  Langswitcher plugin styles - modified
\*------------------------------------*/

/* LANGSWITCHER PLUGIN-STYLES MODIFIED */

.langswitcher {
  display: table;
  position: absolute;
  top: 0;
  right: 30px;
  height: 90px;
  // font-family: $font-regular;
  list-style: none;
  margin: 0 !important;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}

.langswitcher li {
  display: table-cell;
  position: relative;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 0 0 24px;
  margin: 0;
  
  a {
    color: #999;
    border-bottom: 1px solid #ccc;
    
    &:hover {
      color: $color-logo0;
      border-bottom: 1px solid $color-logo0;
    }
  }
}


.full-lang {
  display: none;
}

.short-lang {
  display: inline-block;
}


@media only screen and (min-width: 700px) {
  .full-lang {
    display: inline-block;
  }
  .short-lang {
    display: none
  }
}

.langswitcher .active {
  color: $color-logo0;
  border: none;
  text-decoration: none;
  cursor: default;
  border-bottom: 1px solid #fff !important;
}




/*------------------------------------*\
  Main nav w/ priority+ menu
\*------------------------------------*/

.nav-bar {
  position: relative;
  height: 54px;

  @media only screen and (min-width: 1200px) {
    overflow: visible;
  }
}

.main-nav__wrapper {
  position: relative;
  z-index: 2;
  width: 100vw;
  max-width: 1200px;
  overflow: hidden;
  background: $color-redwine;

  @media only screen and (min-width: 800px) {
    overflow: visible;
    width: 100%;
  }

  @media only screen and (min-width: 1200px) {
    border-radius: 9px;
  }
}



.main-nav {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 6px 6px 15px;
  margin: 0 0 -9px 0;

  // font-family: $font-regular;
  text-align: center;
  list-style: none;
  
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
  
  @media only screen and (min-width: 800px) {
    // margin: 0 0 -24px;
    display: table;
    overflow: auto;
    padding: 6px;
    margin: 0;
  }
}


.nav__item {
  position: relative;
  display: table-cell;
  width: 1%;
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0 3px;

  &:first-of-type:not(.nav__item--sub) {
    width: 0.5%;
    padding: 0 3px 0 0;
  }

  &:last-of-type:not(.nav__item--sub) {
    padding-right: 48px;
    
    @media only screen and (min-width: 800px) {
      padding-right: 0;
    }
  }
}


.nav__link {
  display: block;
  padding: 6px;
  white-space: nowrap;
  color: $color-white;
  border-radius: 3px;

  .active > &,
  .focus > & {
    color: $color-logo1 !important;
    background-color: $color-white;
  }

  @media only screen and (min-width: 800px) {
    &:hover,
    .active > &:hover  {
      color: $color-logo1 !important;
      background-color: $color-white;
    }
  }
}

.nav__link--home {
  line-height: 39px;
  font-size: 24px;
  padding: 0;
  width: auto;
  min-width: 48px;

  &[class*="fa-"]:before {
    padding-right: 0;
  }

  @media only screen and (min-width: 800px) {
    padding: 0 12px;
  }
}



/*------------------------------------*\
  Sub nav
\*------------------------------------*/

.sub-nav {
  display: none;
  position: absolute;
  left: -3px;
  width: 100%;
  width: -webkit-calc(100% + 6px);
  width: calc(100% + 6px);
  min-width: 150px;
  max-width: 270px;
  overflow: hidden;
  background: $color-rouge1;
  padding: 6px 6px 0;
  margin: 0;
  
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.nav__item--sub {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 6px;
}

.nav__link--sub {
  display: block;
  width: 100%;
}


.nav__item:hover {

  > .nav__link {
    color: $color-logo1;
    background-color: $color-white;
  }

  .sub-nav {

    @media only screen and (min-width: 800px) {
      display: block;
    }
  }
}


/*---------------------------------------------------------------------------*\
    Page welcome
\*---------------------------------------------------------------------------*/


/*------------------------------------*\
  BLOCK: Hero (similar to .stage)
\*------------------------------------*/

.hero {
  position: relative;
  z-index: 1;
  margin: -24px 0 0;
}
  
  
.hero__text {
  position: absolute;
  bottom: 0;
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  padding: 0 !important;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

.hero__title, 
.hero__subtitle {
  position: relative;
  z-index: 10;
  left: 0;
}

.hero__title {
  text-shadow: 1px 0 16px #000;
  padding-left: 24px;
  
  @media only screen and (min-width: 480px) {
    padding-left: 30px;
  }

  @media only screen and (min-width: 1200px) {
    padding-left: -webkit-calc(((100% - 1200px) / 2) + 30px);
    padding-left: calc(((100% - 1200px) / 2) + 30px);
  }
}

.hero__subtitle {
  padding: 12px 24px 12px;
  margin-bottom: 0;
  background: rgba(61, 49, 50, 0.85);
  color: $color-white;

  @media only screen and (min-width: 480px) {
    padding-left: 30px;
  }

  @media only screen and (min-width: 720px) {
    width: 720px;
    border-top-right-radius: 30px;
  }

  @media only screen and (min-width: 1200px) {
    width: -webkit-calc(((100% - 1200px) / 2) + 720px);
    width: calc(((100% - 1200px) / 2) + 720px);
    padding-left: -webkit-calc(((100% - 1200px) / 2) + 30px);
    padding-left: calc(((100% - 1200px) / 2) + 30px);
  }
}


/*------------------------------------*\
  Hero Image & Fade
\*------------------------------------*/

.hero__bg  {
  position: relative;
  top: 0;
  width: 100%;
  height: 70vh;
  transition: all 0.3s ease-out;
  max-height: 300px;
  background: $color-seagreen5;
  
  @media only screen and (min-width: 600px) { max-height: 400px; }
  @media only screen and (min-width: 900px) { max-height: 500px; }
  @media only screen and (min-width: 1200px) { max-height: 600px; }

  /*
   *  1. For this to work in IE, we need to set the img as bgimg with msie.js
   */
  video, img {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;  // 1.
    transition: all 0.3s ease-out;
    max-height: 300px;
    
    @media only screen and (min-width: 600px) { max-height: 400px; }
    @media only screen and (min-width: 900px) { max-height: 500px; }
    @media only screen and (min-width: 1200px) { max-height: 600px; }
  }
}


/*------------------------------------*\
  BLOCK: Welcome
\*------------------------------------*/

.block--welcome {
  z-index: 1; // necessary for containing icon to appear
  padding-bottom: 36px;
  background: -webkit-linear-gradient(top, $color-seagreen5, $color-seagreen6);
  background: linear-gradient(to bottom, $color-seagreen5, $color-seagreen6);
  border-bottom: 12px solid $color-white;
  
  /*
   *  Bonne Mère icon 
   */
  &:after { 
    background-size: 460px;
    background-position: left 3vw bottom -40px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 6px;
  }
}

/*------------------------------------*\
  Youtube Video in block--welcome
\*------------------------------------*/

.video-container {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  
  @media only screen and (min-width: 720px) { 
    float:right;
    width: -webkit-calc(50% - 36px);
    width: calc(50% - 36px);
    margin: 18px 18px 36px 72px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -12px;
      top: -12px;
      right: -12px;
      bottom: -12px;
      border: 12px solid $color-white;
      border-radius: 6px;
      box-shadow: 1px 0 12px rgba(0,0,0,0.25);
      background: $color-seagreen5;
    }

    &:after {
      content: "";
      display: block;
      width: 110%;
      position: absolute;
      left: -5%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      border: 12px solid $color-seagreen6;
      border-radius: 6px;
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
      background: $color-seagreen4;
      z-index: -1;
      box-shadow: 1px 0 12px rgba(0,0,0,0.25);
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/*
 *  Unsorted remains
 */

.color-white {
	color: #fff;
}

.color-seagreen2 {
	color: $color-seagreen2;
}

.bgcolor-logo0 {
	background: $color-logo0;
}