/******************************************************************************
*   Breakpoints
******************************************************************************/
$break-phone-portrait:	320px;
$break-phone-landscape:	480px;
$break-tablet-mini:		600px;
$break-tablet-small:	   750px;
$break-tablet-regular:	850px;
$break-tablet-large:	   1000px;
$break-desktop:			1024px;
$break-cinema:			   1280px;


/******************************************************************************
*   Units
******************************************************************************/

// Base unit
$base-unit:		6px;

// Padding & Margin Units
$gutter-xs: 	$base-unit;
$gutter-s: 		$base-unit * 2;
$gutter-m: 		$base-unit * 3;
$gutter-l: 		$base-unit * 4;
$gutter-xl:     $base-unit * 5;
$gutter-xxl:    $base-unit * 6;
$gutter-xxxl:   $base-unit * 6;

// Typographic Units
$fontsize-base: 16px;
$lineheight-base: 1.4;

// Border-radius
$radius-m: 4px;



/******************************************************************************
*   Font sizes
******************************************************************************/

// Modular Scale w/ base size 16px @ 1:1.25
// see: http://modularscale.com/scale/?px1=16&px2=&ra1=1.25&ra2=0
$font-xxs:   8px;
$font-xs:   10px;
$font-s:    13px;
$font-m:    16px;
$font-l:    20px;
$font-xl:   25px;
$font-xxl:  31px;




// Font Weights
$regular: 400;
$bold: 700;

// Base Font
$base-font-family:  Linotte-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight:  $regular;
$base-font-size:    16px; //0.9375em;		// 15px
$base-line-height:  25px; //1.4667em;	// 22px

$font-light: Linotte-Light, "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial, sans-serif;
$font-regular: Linotte-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-semibold: Linotte-SemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Sprite Paths
// $sprite-product:    '/assets/img/ui/sprite-product_03';
// $sprite-navi:       '/assets/img/ui/sprite-navi_06c';
// $sprite-bullet:     '/assets/img/ui/sprite-bullet_04';

// Color Values

$color-logo0: 			#00aabd;
$color-logo1: 			#3e0000; 

$color-red0:   			#3d0000;
$color-red1:   			#860714;
$color-red2:   			#a62826;
$color-red3:    		#c14e46;
$color-red4:    		#ffc4bf;
$color-red5:        #ffe0de;

$color-orange0:   	#cc6221;
$color-orange0-5:   #E47836;
$color-orange1:   	#f58b4a;
$color-orange2:   	#f8a468;
$color-orange3:    	#fab780;
$color-orange4:    	#ffdec2;
$color-orange5:     #fff1e8;

$color-green0:   		#06756d;
$color-green1:   		#009c90;
$color-green2:   		#18b8ad;
$color-green3:    	#33ccc8;
$color-green4:    	#b8fbff;
$color-green5:      #e3feff;

$color-blue0:   		#097287;
$color-blue1:   		#0b90ab;
$color-blue2:   		#1da5c2;
$color-blue3:    		#32bdd9;
$color-blue4:    		#87e8fa;
$color-blue5:       #c9f6ff;

$color-grey0:    		#aaaaaa;
$color-grey1:    		#cccccc;
$color-grey2:       #dddddd;
$color-grey3:     	#e7e7e7;
$color-grey4:   		#eeeeee;
$color-grey5:   		#f8f8f8;
$color-white:   		#ffffff;




// New color harvest from stylesheets

$color-redwine: 		#9B2E36;  // menu bgcolor

$color-turq1:  			$color-logo0;
$color-turq2:				#45bac4;
$color-turq3:  			#79D4DF;
$color-turq4:  			#caeef2;
$color-turq5:  			#e8f8fa; // #F8FEFF;


$color-charcoal: 		#363531;
$color-clay: 				#827B6A;
$color-darkbeige: 	#B2A892;

$color-greywalls0: 	#D7CAAD;  // midbeige
$color-greywalls1: 	#F1E4C6;
$color-greywalls2: 	#EFE8D8;
$color-greywalls3:  #FDFAF8;

$color-warmsand0:   #c8b173;
$color-warmsand1: 	#dec586; //#ebcb7b;  // #D1BD8B;
$color-warmsand2: 	#FCE8B7;
$color-warmsand3: 	#FFF3D3;


$color-lavender-dark: 	#312c4a;
$color-lavender:   			#504A6D;  // lavender tint
$color-lavender-light: 	#8078a3;  // old #736E8A;



$color-lightblue: 	#CDE5F1;  // lightblue
$color-midblue:			#8EBDD4; // mid blue, slightly dull


$color-salmon1: 		#FD9F7F;
$color-salmon4: 		#ffddd2;
$color-salmon5: 	  #fdefea;

$color-brown: 			#815D51;



/*--------------------------------------------*\
    New Palette 160416
\*--------------------------------------------*/

$color-lavender1: 	#312c4a;
$color-lavender2:   #504A6D;
$color-lavender3: 	#8078a3;
$color-lavender4: 	#b0a9cc;
$color-lavender5:   #dddae8;
$color-lavender6: 	#edebf5;

$color-skyblue1:    #00517a;
$color-skyblue2:    #0476ae;
$color-skyblue3:    #4697bf;
$color-skyblue4:    #8EBDD4;
$color-skyblue5:    #CDE5F1;
$color-skyblue6:    #e6f2f8;

$color-rouille1:    #b05031;
$color-rouille2:    #e85827;
$color-rouille3:    #f77d53;
$color-rouille4:    #fd9f7f;
$color-rouille5:    #ffded2;
$color-rouille6:    #fdf0eb;



/*--------------------------------------------*\
    Social Media Colors (160417)
\*--------------------------------------------*/

$color-facebook: 	#3b5998;
$color-twitter:   #55acee;
$color-instagram: 	#3f729b;
$color-pinterest:   #cb2027;
$color-googleplus: 	#dd4b39;
$color-youtube:   #cd201f;





/*---------------------------------------------------------------------------*\
    New additional colors, chosen with loulou (mostly pastels)
\*---------------------------------------------------------------------------*/

/*
toctocMenü  #9B2E36
text:     	#FFE8E8

bienvenue < start:      #FCF6E7   (façades)

bienvenue < services:     #F1E4C6   (sable)

bienvenue < examples:     #948EBD   (lavende)

bienvenue < comment     #B5BF52   (olives)

bienvenue < temoignages     #FFFB9F   (pastis)
*/


// Different shades of lavender, once used on block--examples:
// background: #858AA5; // lavender
// background: #AED1DF; // lightbluegrey
// background: #9392B6; // new lavender
// background: #8988A6; // pale lavender

// background: #CFC7B5; // marseille beige
// background: #9EDEE5; // menthe
// background: #AED1DF; // lightbluegrey