/******************************************************************************
*   Breakpoints
******************************************************************************/
$break-phone-portrait:	320px;
$break-phone-landscape:	480px;
$break-tablet-mini:		600px;
$break-tablet-small:	   750px;
$break-tablet-regular:	850px;
$break-tablet-large:	   1000px;
$break-desktop:			1024px;
$break-cinema:			   1280px;


/******************************************************************************
*   Units
******************************************************************************/

// Base unit
$base-unit:		6px;

// Padding & Margin Units
$gutter-xs: 	$base-unit;
$gutter-s: 		$base-unit * 2;
$gutter-m: 		$base-unit * 3;
$gutter-l: 		$base-unit * 4;
$gutter-xl:     $base-unit * 5;
$gutter-xxl:    $base-unit * 6;
$gutter-xxxl:   $base-unit * 6;

// Typographic Units
$fontsize-base: 16px;
$lineheight-base: 1.4;

// Border-radius
$radius-m: 4px;



/******************************************************************************
*   Font sizes
******************************************************************************/

// Modular Scale w/ base size 16px @ 1:1.25
// see: http://modularscale.com/scale/?px1=16&px2=&ra1=1.25&ra2=0
$font-xxs:   8px;
$font-xs:   10px;
$font-s:    13px;
$font-m:    16px;
$font-l:    20px;
$font-xl:   25px;
$font-xxl:  31px;




// Font Weights
$regular: 400;
$bold: 700;

// Base Font - used to be "ReykjavikOne OT", unfortunately not available as webfont.
$base-font-family:  Linotte-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight:  $regular;
$base-font-size:    16px; //0.9375em;		// 15px
$base-line-height:  25px; //1.4667em;	// 22px

$font-light: Linotte-Light, "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial, sans-serif;
$font-regular: Linotte-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-semibold: Linotte-SemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Sprite Paths
// $sprite-product:    '/assets/img/ui/sprite-product_03';
// $sprite-navi:       '/assets/img/ui/sprite-navi_06c';
// $sprite-bullet:     '/assets/img/ui/sprite-bullet_04';

// Color Values

$color-logo0: 			#00aabd;
$color-logo1: 			#3e0000; 

$color-red0:   			#3d0000;
$color-red1:   			#860714;
$color-red2:   			#a62826;
$color-red3:    		#c14e46;
$color-red4:    		#ffc4bf;
$color-red5:        #ffe0de;

$color-orange0:   	#cc6221;
$color-orange1:   	#f58b4a;
$color-orange2:   	#f8a468;
$color-orange3:    	#fab780;
$color-orange4:    	#ffdec2;
$color-orange5:     #fff1e8;

$color-green0:   		#06756d;
$color-green1:   		#009c90;
$color-green2:   		#18b8ad;
$color-green3:    	#33ccc8;
$color-green4:    	#b8fbff;
$color-green5:      #e3feff;

$color-blue0:   		#097287;
$color-blue1:   		#0b90ab;
$color-blue2:   		#1da5c2;
$color-blue3:    		#32bdd9;
$color-blue4:    		#87e8fa;
$color-blue5:       #c9f6ff;

$color-grey0:    		#aaaaaa;
$color-grey1:    		#cccccc;
$color-grey2:       #dddddd;
$color-grey3:     	#e7e7e7;
$color-grey4:   		#eeeeee;
$color-grey5:   		#f8f8f8;
$color-white:   		#ffffff;