

body {
  margin: 0;
  background: #000; 
}


/* HERO
*/

.hero {
z-index: 1;
position: relative;
right: 0;
left: 0;
top: 0;
height: 400px;
overflow: hidden;
max-width: 1045px;
}

.hero__video {
bottom: 0;
left: 0;
position: absolute;
width: 100%;
}

video {
display: inline-block;
}

.menuheader {
	z-index: 2;
}