@charset "UTF-8";
/******************************************************************************
*   Breakpoints
******************************************************************************/
/******************************************************************************
*   Units
******************************************************************************/
/******************************************************************************
*   Font sizes
******************************************************************************/
/*--------------------------------------------*\ New Palette 160416
\*--------------------------------------------*/
.color-lavender1 { color: #312c4a; }

.color-lavender2 { color: #504A6D; }

.color-lavender3 { color: #8078a3; }

.color-lavender4 { color: #b0a9cc; }

.color-lavender5 { color: #dddae8; }

.color-lavender6 { color: #edebf5; }

.color-skyblue1 { color: #00517a; }

.color-skyblue2 { color: #0476ae; }

.color-skyblue3 { color: #4697bf; }

.color-skyblue4 { color: #8EBDD4; }

.color-skyblue5 { color: #CDE5F1; }

.color-skyblue6 { color: #e6f2f8; }

.color-rouille1 { color: #b05031; }

.color-rouille2 { color: #e85827; }

.color-rouille3 { color: #f77d53; }

.color-rouille4 { color: #fd9f7f; }

.color-rouille5 { color: #ffded2; }

.color-rouille6 { color: #fdf0eb; }

.color-rouge1 { color: #9B2E36; }

.color-rouge2 { color: #cc2936; }

.color-rouge3 { color: #ec5f6b; }

.color-rouge4 { color: #f8969e; }

.color-rouge5 { color: #ffdee0; }

.color-rouge6 { color: #fcefef; }

/*--------------------------------------------*\ Social Media Colors (160417)
\*--------------------------------------------*/
/*---------------------------------------------------------------------------*\ New additional colors, chosen with loulou (mostly pastels)
\*---------------------------------------------------------------------------*/
/*
toctocMenü  #9B2E36
text:     	#FFE8E8

bienvenue < start:      #FCF6E7   (façades)

bienvenue < services:     #F1E4C6   (sable)

bienvenue < examples:     #948EBD   (lavende)

bienvenue < comment     #B5BF52   (olives)

bienvenue < temoignages     #FFFB9F   (pastis)
*/
/*

//	=========================================================================
//	Google Webfont Declaration
//	========================================================================= 

@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic&subset=latin);
*/
/*

@import "modules/cssfx";

@import "helper/lt-ie8";
@import "helper/lt-ie9";
@import "helper/lt-ie10";
@import "helper/ie9";

*/
