.color-logo0 {
  color: #00aabd !important; }

.color-logo1 {
  color: #3e0000 !important; }

.color-red0 {
  color: #3d0000 !important; }

.color-red1 {
  color: #860714 !important; }

.color-red2 {
  color: #a62826 !important; }

.color-red3 {
  color: #c14e46 !important; }

.color-red4 {
  color: #ffc4bf !important; }

.color-red5 {
  color: #ffe0de !important; }

.color-orange0 {
  color: #cc6221 !important; }

.color-orange1 {
  color: #f58b4a !important; }

.color-orange2 {
  color: #f8a468 !important; }

.color-orange3 {
  color: #fab780 !important; }

.color-orange4 {
  color: #ffdec2 !important; }

.color-orange5 {
  color: #fff1e8 !important; }

.color-green0 {
  color: #06756d !important; }

.color-green1 {
  color: #009c90 !important; }

.color-green2 {
  color: #18b8ad !important; }

.color-green3 {
  color: #33ccc8 !important; }

.color-green4 {
  color: #b8fbff !important; }

.color-green5 {
  color: #e3feff !important; }

.color-blue0 {
  color: #097287 !important; }

.color-blue1 {
  color: #0b90ab !important; }

.color-blue2 {
  color: #1da5c2 !important; }

.color-blue3 {
  color: #32bdd9 !important; }

.color-blue4 {
  color: #87e8fa !important; }

.color-blue5 {
  color: #c9f6ff !important; }

.color-grey0 {
  color: #aaaaaa !important; }

.color-grey1 {
  color: #cccccc !important; }

.color-grey2 {
  color: #dddddd !important; }

.color-grey3 {
  color: #e7e7e7 !important; }

.color-grey4 {
  color: #eeeeee !important; }

.color-grey5 {
  color: #f8f8f8 !important; }

.color-white {
  color: #ffffff !important; }

.bgcolor-logo0 {
  background: #00aabd !important; }

.bgcolor-logo1 {
  background: #3e0000 !important; }

.bgcolor-red0 {
  background: #3d0000 !important; }

.bgcolor-red1 {
  background: #860714 !important; }

.bgcolor-red2 {
  background: #a62826 !important; }

.bgcolor-red3 {
  background: #c14e46 !important; }

.bgcolor-red4 {
  background: #ffc4bf !important; }

.bgcolor-red5 {
  background: #ffe0de !important; }

.bgcolor-orange0 {
  background: #cc6221 !important; }

.bgcolor-orange1 {
  background: #f58b4a !important; }

.bgcolor-orange2 {
  background: #f8a468 !important; }

.bgcolor-orange3 {
  background: #fab780 !important; }

.bgcolor-orange4 {
  background: #ffdec2 !important; }

.bgcolor-orange5 {
  background: #fff1e8 !important; }

.bgcolor-green0 {
  background: #06756d !important; }

.bgcolor-green1 {
  background: #009c90 !important; }

.bgcolor-green2 {
  background: #18b8ad !important; }

.bgcolor-green3 {
  background: #33ccc8 !important; }

.bgcolor-green4 {
  background: #b8fbff !important; }

.bgcolor-green5 {
  background: #e3feff !important; }

.bgcolor-blue0 {
  background: #097287 !important; }

.bgcolor-blue1 {
  background: #0b90ab !important; }

.bgcolor-blue2 {
  background: #1da5c2 !important; }

.bgcolor-blue3 {
  background: #32bdd9 !important; }

.bgcolor-blue4 {
  background: #87e8fa !important; }

.bgcolor-blue5 {
  background: #c9f6ff !important; }

.bgcolor-grey0 {
  background: #aaaaaa !important; }

.bgcolor-grey1 {
  background: #cccccc !important; }

.bgcolor-grey2 {
  background: #dddddd !important; }

.bgcolor-grey3 {
  background: #e7e7e7 !important; }

.bgcolor-grey4 {
  background: #eeeeee !important; }

.bgcolor-grey5 {
  background: #f8f8f8 !important; }

.bgcolor-white {
  background: #ffffff !important; }

/*

//	=========================================================================
//	Google Webfont Declaration
//	========================================================================= 

@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic&subset=latin);
*/
/*

@import "modules/cssfx";

@import "helper/lt-ie8";
@import "helper/lt-ie9";
@import "helper/lt-ie10";
@import "helper/ie9";

*/

/*# sourceMappingURL=styles-ie.css.map */
