/*
Error: Invalid CSS after "...nly screen and ": expected media expression (e.g. (min-device-width: 800px)), was "max-width: 800p..."
        on line 68 of scss/partials/_page-about.scss
        from line 87 of scss/_hub.scss
        from line 9 of scss/style.scss

63:   .btn { // button
64:     margin-bottom: 24px;
65:   }
66: 
67:   .cell-25 {
68:     @media only screen and max-width: 800px) {
69:       width: 40%;
70:     }
71:   }
72: }
73: 

Backtrace:
scss/partials/_page-about.scss:68
scss/_hub.scss:87
scss/style.scss:9
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:1095:in `expr!'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:446:in `media_query'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:414:in `media_query_list'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:1093:in `expr!'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:409:in `media_directive'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:223:in `special_directive'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:198:in `directive'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:664:in `block_contents'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/engine.rb:309:in `to_tree'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/ulliver/.rvm/gems/ruby-2.1.2/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...nly screen and \": expected media expression (e.g. (min-device-width: 800px)), was \"max-width: 800p...\"\A         on line 68 of scss/partials/_page-about.scss\A         from line 87 of scss/_hub.scss\A         from line 9 of scss/style.scss\A \A 63:   .btn { // button\A 64:     margin-bottom: 24px;\A 65:   }\A 66: \A 67:   .cell-25 {\A 68:     @media only screen and max-width: 800px) {\A 69:       width: 40%;\A 70:     }\A 71:   }\A 72: }\A 73: "; }
