<header class="header">

  {% include 'partials/langswitcher.html.twig' %}

  <h1 class="logo-main"><a href="{{ base_url_absolute }}" alt="< back to Homepage"><img src="{{ theme_url }}/img/logo_icon.svg" alt="toctocMarseille Logo" width="54" height="60"><span class="color-logo1 logo-part1">toctoc</span><span class="color-logo0 logo-part2">Marseille</span></a></h1>

  <div class="container">
    <nav class="" role="navigation">
      {% include 'partials/navigation.html.twig' %}
    </nav>
  </div>
  
</header>