<header class="header">

  <div class="block">
    <div class="logo-main"><a href="{{ base_url_absolute }}" alt="toctocMarseille Homepage"><img src="{{ theme_url }}/img/logo_icon3.svg" class="toctoc-logo" alt="toctocMarseille Homepage" width="62" height="62"><span class="logo-part1">toctoc<span class="logo-part2">Marseille</span></span></a></div>
    

     {# <div class="logo-main"><a href="{{ base_url_absolute }}" alt="toctocMarseille Homepage"><span class="toctoc-logo"></span><span class="logo-part1">toctoc<span class="logo-part2">Marseille</span></span></a></div> #}
    
    {% include 'partials/langswitcher.html.twig' %}

    <nav class="nav-bar headroom" role="navigation">
      {% include 'partials/navigation.html.twig' %}
    </nav>
  </div>
  
</header>