<header class="header">

  <div class="wrapper">
    {% include 'partials/langswitcher.html.twig' %}

    <nav role="navigation">
      <div class="logo-main"><a href="{{ base_url_absolute }}" alt="< back to Homepage"><img src="{{ theme_url }}/img/logo_icon.svg" alt="toctocMarseille Logo" width="81" height="90"><span class="color-logo1 logo-part1">toctoc</span><span class="color-logo0 logo-part2">Marseille</span></a></div>

      {% include 'partials/navigation.html.twig' %}
    </nav>
  </div>
  
</header>