<ul class="instagram-photos">
{% for post in feed|slice(0, count)  %}
    <li><a href="{{ post.link }}" target="_blank"><pre><img class="lazyload" data-src="{{ post.image }}" alt=""></pre></a>
{% endfor %}
</ul>
