{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="modular-block">
    <div class="map">
        {{ page.header.map }}
    </div>

    <div class="address">
        {{ page.content }}
    </div>

    <div class="address">
        <h2>{{ page.header.title2 }}</h2>
        {% if config.plugins.simple_form.enabled %}
            {% set simple_form_config = page.header.simple_form ?: config.themes.tictactoc.simple_form %}
            {{ simple_form(simple_form_config) }}
        {% endif %}
    </div>
</div>
{% endblock %}