{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="modular-block  modular--examples">
	<h1>{{ page.header.headline }}</h1>
	{{ page.media[page.header.image] }}
  {{ page.content }}
</div>

{% endblock %}