{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="block">
    
    {% set twig_content_variable = page.content %}
		{% set replace_value_var = '<img src' %}
		{% set replace_with_value_var = '<img class="lazyload" data-src' %} 

		{{ twig_content_variable|replace({ (replace_value_var): replace_with_value_var }) }}

  </div>
{% endblock %}
