{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}
    {{ page.content }}
    <div id="content">
        {% for module in page.collection() %}

					{% if module.header.lightslider %}
    				{% set twig_content = module.content %}
    				{% set replace_value_var = '<img src' %}
    				{% set replace_with_value_var = '<img class="lazyload" data-src' %}
    				{{ twig_content|replace({ (replace_value_var): replace_with_value_var }) }}
    			{% else %}
    				{{ module.content }}
					{% endif %}

        {% endfor %}
    </div>
{% endblock %}
