//	#########################################################################
//	BASIC STYLES
//	#########################################################################
//
//  1. necessary to fix the ios orientation change bug
//
//  2. to produce a lighter font, see: 
//     http://maxvoltar.com/archive/-webkit-font-smoothing 
//     http://www.usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
//
//  3. box-sizing for the win: 
//     http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//     http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//
html	{
  height: 100%;
  font-family: $base-font-family;
  font-weight: $base-font-weight; 
  -webkit-text-size-adjust: 100%;	// 1
  -ms-text-size-adjust: 100%;
  //	-webkit-font-smoothing: antialiased;	// 2
    box-sizing: border-box;       // 3
}

*, *:before, *:after {
  box-sizing: inherit;      // 3
}

//  1.  Hack to enable correct behaviour for .slidecontrol in android 2.3 standard browser, see: 
// http://css-tricks.com/forums/discussion/18225/checkbox-hack-on-mobile-webkit/p1

body	{
  position: relative;
  min-height: 100%;
  background: #fff;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-animation: bugfix infinite 1s;  //  1
}

@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}



/*---------------------------------------------------------------------------*\
    Top level elements
\*---------------------------------------------------------------------------*/


.header {
  position: relative;
  z-index: 10;
  width: 100%;
  max-height: 120px;
  background: #fff;
}

/* 
 *  1. To make space for the footer below 
 */
.main {
  position: relative;
  padding-top: 24px;
  padding-bottom: 120px;  // 1. 
  
  @media only screen and (min-width:600px) {
    padding-bottom: 90px;  // 1. 
  }
}


/*---------------------------------------------------------------------------*\
    Wrapper on .page-welcome (similar to .stage on other pages)
\*---------------------------------------------------------------------------*/

// .wrapper {
//   position: relative;
//   display: block;
//   max-width: 1200px;
//   margin: 0 auto;
// }
