/*---------------------------------------------------------------------------*\
    General button element
    Can be applied to <a>, <input> and <button> elements
    Needs respective styles for each tag
\*---------------------------------------------------------------------------*/


.btn {
  position: relative;
  display: inline-block;
  transition: background ease-in 0.1s;
  
  * {
    display: inline-block;
    vertical-align: middle;
  }
  
  .fa {
    margin-right: 9px;
    font-size: inherit;
    font-style: normal !important; // using a deprecated <i>-element to contain text within button. this should enable us to have a more consistent look with possible icon buttons.
  }
}


.js-hide-info {
  display: none;
}


/*------------------------------------*\
  Button sizes
\*------------------------------------*/

.btn-s {
  font-size: 18px;
  padding: 9px 18px;
  border-radius: 4px;
}


.btn-m {
  font-size: 21px;
  padding: 12px 30px;
  border-radius: 6px;
}

.btn-l {
  font-size: 24px;
  padding: 18px 36px;
  border-radius: 6px;
}



/*------------------------------------*\
  Colored buttons, used in 
  .cell--service
\*------------------------------------*/

.btn-orange,
.btn-red,
.btn-blue,
.btn-green {
  color: #fff;
  font-family: $font-semibold;
  
  &:hover {
    color: #fff;
  }

  &:active {
    color: #fff;
  }
}

.btn-orange {
  background: $color-orange1;
  border-bottom: 3px solid $color-orange0;
  
  &:hover,
  a:hover & {
    background: #E47836;
  }

  &:active,
  a:active:hover & {
    border-top: 3px solid #F1E4C6; // sand;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}


.btn-red {
  background: $color-red3;
  border-bottom: 3px solid $color-red1;
  
  &:hover,
  a:hover & {
    background: $color-red2;
  }

  &:active,
  a:active:hover & {
    border-top: 3px solid #F1E4C6; // sand;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}




/*------------------------------------*\
  Horizontal scroll button, used with block--scroll in 
  .page-welcome .block--examples
\*------------------------------------*/

.btn--scroll {
  float: right;
  z-index: 2;
  width: 60px;
  height: 60px;
  // border: 2px solid #F1E4C6; // sand;
  border-bottom: 3px solid #2D274A;
  border-radius: 6px;
  background: #736E8A;
  // background-image: linear-gradient(to bottom, #736E8A, #504A6D);
  transition: background ease-in 0.1s;

  &.reverse {
    // background: none;
    background: #736E8A;
  }

  &:after {
    content: "►";
    position: relative;
    display: inline-block;
    left: 0;
    top: -2px;
    width: 60px;
    height: 60px;
    line-height: 56px;
    font-size: 54px;
    vertical-align: middle;
    text-align: center;
    // color: #F1E4C6; // sand;
    color: #EFE8D8;
  }

  &.reverse:after {
    content: "◄";
    color: #F1E4C6; // sand;
    left: -2px;
  }
  
  &:hover {
    background: #F1E4C6; // sand;
  }

  &:hover:after {
    // color: #6E6D85;
    color: #504A6D;
    position: relative;
    display: inline-block;
  }

  &:active {
    background: #fff;
    border-bottom: none;
    border-top: 3px solid #504A6D;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
