/*---------------------------------------------------------------------------*\
    General button element
    Can be applied to <a>, <input> and <button> elements
    Needs respective styles for each tag
\*---------------------------------------------------------------------------*/


.btn {
  position: relative;
  display: inline-block;
  transition: background ease-in 0.1s;
  cursor: pointer;
  border: none;
  
  &:hover {
    text-decoration: none;
  }
  
  * {
    display: inline-block;
    vertical-align: middle;
  }
  
  .fa {
    margin-right: 9px;
    font-size: inherit;
    font-style: normal !important; // using a deprecated <i>-element to contain text within button. this should enable us to have a more consistent look with possible icon buttons.
  }
}


.js-info-toggler .js-hide-info {
  display: none;
}


/*------------------------------------*\
  Button sizes
\*------------------------------------*/

.btn-s {
  font-size: 18px;
  padding: 9px 18px;
  border-radius: 4px;
  
  &:active {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}


.btn-m {
  font-size: 21px;
  padding: 12px 24px 9px;
  border-radius: 6px;
  
  &:active {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}


.btn-l {
  font-size: 24px;
  padding: 15px 30px 12px;
  border-radius: 6px;
  
  &:active {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}



/*------------------------------------*\
  Colored buttons, used in 
  .cell--service
\*------------------------------------*/

.btn-orange,
.btn-red,
.btn-blue,
.btn-green,
.btn-rouge,
.btn-rouille,
.btn-sable,
.btn-skyblue,
.btn-seagreen,
.btn-lavender, {
  color: #fff;
  font-family: $font-semibold;
  
  &:hover {
    color: #fff;
  }

  &:active {
    color: #fff;
  }
}

.btn-orange {
  background: $color-orange1;
  border-bottom: 3px solid $color-orange0;
  
  &:hover,
  a:hover & {
    background: $color-orange0-5;
  }

  &:active,
  a:active:hover & {
    border-top: 3px solid $color-greywalls1;
    border-bottom: 0;
  }
}


.btn-rouille {
  color: $color-rouille6;
  color: #fff;
  background: $color-rouille2;
  border-bottom: 3px solid $color-rouille1;
  
  &:hover,
  a:hover & {
    color: #fff;
    background: $color-rouille3;
  }

  &:active,
  a:active:hover & {
    border: 0;
    border-top: 3px solid $color-greywalls1;
  }
}


.btn-red {
  background: $color-red3;
  border-bottom: 3px solid $color-red1;
  
  &:hover,
  a:hover & {
    background: $color-red2;
  }

  &:active,
  a:active:hover & {
    border-top: 3px solid $color-greywalls1;
    border-bottom: 0;
  }
}


.btn-rouge {
  color: $color-rouge6;
  color: #fff;
  background: $color-rouge2;
  border-bottom: 3px solid $color-rouge1;
  
  &:hover,
  a:hover & {
    color: #fff;
    background: $color-rouge3;
  }

  &:active,
  a:active:hover & {
    border: 0;
    border-top: 3px solid $color-greywalls1;
  }
}

.page-services .btn,
.page-pricing .btn {

  &:active,
  a:active:hover & {
    border-top: 3px solid #FFF;
  }
}

.btn--social {
  color: #fff !important;
  // border-bottom: 3px solid rgba(0,0,0,.25);
  margin: 0 6px 12px 0;
  
  &:last-of-type {
    margin: 0;
  }

  .fa {
    font-size: 24px;
  }
}

.btn-facebook {
  background: $color-facebook;
}

.btn-twitter {
  background: $color-twitter;
}

.btn-instagram {
  background: $color-instagram;
}

.btn-googleplus {
  background: $color-googleplus;
}

.btn-pinterest {
  background: $color-pinterest;
}

.btn-youtube {
  background: $color-youtube;
}


/*------------------------------------*\
  Horizontal scroll button, used with block--scroll in 
  .page-welcome .block--examples
\*------------------------------------*/

.btn--scroll {
  // float: right;
  z-index: 2;
  width: 60px;
  height: 60px;
  background: $color-lavender-light;
  border-bottom: 3px solid $color-lavender-dark;
  border-radius: 6px;
  transition: background ease-in 0.1s;

  &.reverse {
    background: $color-lavender-light;
  }

  &:after {
    content: "►";
    position: relative;
    display: inline-block;
    left: 0;
    top: -2px;
    width: 60px;
    height: 60px;
    line-height: 56px;
    font-size: 54px;
    vertical-align: middle;
    text-align: center;
    color: $color-greywalls2;
  }

  &.reverse:after {
    content: "◄";
    color: $color-greywalls2;
    left: -2px;
  }
  
  &:hover {
    background: $color-greywalls2;
  }

  &:hover:after {
    color: $color-lavender;
    position: relative;
    display: inline-block;
  }

  &:active {
    background: #fff;
    border-bottom: none;
    border-top: 3px solid $color-lavender;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}



/*------------------------------------*\
  Scroll to top button
\*------------------------------------*/

.scrolltop {
  display: none;
  z-index: 999;
  position: fixed;
  bottom: 15px;
  right: 12px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #666;
  opacity: 0.5;
  border: 3px solid #fff;
  box-shadow: 0 3px 0 #000;
  overflow: hidden;
  
  &:active {
    bottom: 12px;
    box-shadow: none;
  }

  &:after {
    content: "▲";
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    width: 66px;
    height: 66px;
    line-height: 60px;
    font-size: 60px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }
}