//	#########################################################################
//	BUTTONS
//	#########################################################################

.but {
	@include but-regular();
}

.butinset {
	@include but-inset();
}

.but30	{
	@include but-size('30');
}

.but36	{
	@include but-size('36');
}

// there's a slight problem when trying to apply the same hover-effect on buttons instead of <a>. either the button shortens vertically from the top, or all elements on the line offset from the top, in sync with the text on the button. hmmm

[type=submit].but30	{
  height: 30px;
  line-height: 28px;
}


.butgold {
   @include btn-theme($color-gold, $color-lightgold, $color-midgold);
}
.butorange {
   @include btn-theme($color-orange, $color-lightorange, $color-midorange);
}
.butred {
   @include btn-theme($color-red, $color-lightred, $color-midred);
}
.butblue {
   @include btn-theme($color-blue, $color-lightblue, $color-midblue);
}
.butgreen {
   @include btn-theme($color-green, $color-lightgreen, $color-midgreen);
}
.butsilver	{
	color:#666;
	border: 1px solid #aaa;
	@include btn-silver();
}
