/*---------------------------------------------------------------------------*\
    .cell
    This is a wrapper element, to appear within .block.
    Creates elements of equal height.

    Use in conjunction with the single properties classes like "width-50"
    ==> Not really necessary i think - table-cells will automatically share the
    available width, no?
\*---------------------------------------------------------------------------*/


.cell {
  display: block;
  vertical-align: top;
  
  > *:last-child {
    margin-bottom: 0;
    // padding-bottom: 0;  // difficult: might also be applied to a <a>-button-element
  }

  p {
    margin-bottom: 18px;
  }

  h3 {
    margin-bottom: 18px;
  }

  h3.fa:before {
    position: relative;
    top: 0;
    left: -6px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0;
    margin: -6px 6px 0 0;
    border-radius: 50%;
    // background: #EFE8D8;
    // color: #B2A892;
    // color: #444;
  }
}


.cell-padded {
  padding: 24px;
}


.cell-feature {
  padding: 24px;
  color: #fff;
  // background: #18b8a0;
  background: #B2A892; // darkbeige
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-semibold;
  }

  h3.fa:before {
    border: 2px solid #fff;
  }

  ul {
    font-family: $font-regular;
  }
}


.cell-info {
  padding: 24px;
  background: #D7CAAD; // midbeige
  
  h3.fa:before {
    background: #EFE8D8;
  }
}


.cell-image {
  // margin: 0 !important;
  
  img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    margin-bottom: 24px;
  }
}


.cell-feature,
.cell-info {

  margin: 0 -24px;
  
  @media only screen and (min-width:480px) {
    margin: 0 -30px;
  }

  @media only screen and (min-width:650px) {
    margin: 0;
  }
}


.cell-feature,
.cell-info,
.cell-image, 
.cell-in-row {

  @media only screen and (min-width:800px) {
    display: table-cell !important;
    width: 50%;
    padding-right: 24px;
    margin-bottom: 36px;
  }
}
