//	#########################################################################
//	FOOTER, Pagefooter
//	#########################################################################

/*
 *  [1] Necessary to keep the footer fixed on the bottom of the browser, even if the page height is less than the browser window heigt
 */
.footer {
  position: absolute;  /* [1] */
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #444;
  color: #888;
  background: $color-warmsand1;
  color: $color-clay;
  background: $color-lavender-dark;
  color: $color-lavender-light;
  font-size: 14px;
  
  @media only screen and (min-width:480px) {
    font-size: 16px;
  }
  
  a {
    display: inline-block;
    color: $color-lavender-light;
    padding: 0 4px;
    border-radius: 2px;
    margin-left: 4px;
    
    &:hover {
      background: #fff;
      color: $color-lavender-dark;
    }
  }

  strong {
    display: inline-block;
    padding: 0 4px;  
  }
  
  p {
    margin: 0;
  }
}



// .footer	{
//   position: relative;
//   z-index: 0;  // to enable the pagefooter-shadow to appear above the page-background

//   @media only screen and (min-width: $break-tablet-small) {
//     z-index:100;
//   }

// }

// .pagefooter	{
//   overflow:visible;
//   position: relative;
//   height: 72px;
//   border-top: 1px solid #fff;
//   border-bottom: 3px solid #fff;
//   background: #ffffff;
//   @include background(linear-gradient(#fff, #ddd));
//   @include box-shadow(rgba(0, 0, 0, 0.2) top,  #ffffff 0%,#dddddd 100%);

//   @media only screen and (min-width: $break-tablet-small) {

//     &:before {	// DOESNT WORK in IE 6-7
//       content: "";
//       position: absolute;
//       z-index: -2;
//     }

//     // producing a curved dropshadow underneath .pagefooter
//     //
//     //  1.  necessary, otherwise it gets display:table from the clearfix and the shadow disappears
//     //
//     &.curved:before { // DOESNT WORK in IE 6-7
//       display: block; //  1
//       top: 0;
//       bottom: 0;
//       left: 10px;
//       right: 10px;
//       @include box-shadow(rgba(0, 0, 0, 0.67) 0 3px 24px);
//       @include border-radius(30%, 10px);
//     }
//   }

//   @media only screen and (min-width: $break-tablet-large)	{
//     & {
//       border-left: 3px solid #fff;
//       border-right: 3px solid #fff;
//       border-bottom-left-radius: 9px;
//       border-bottom-right-radius: 9px;
//     }
//   }
// }

// .legalinfos	{
//   position: relative;
//   top: 24px;
//   padding: 0;
//   margin: 0;

//   li	{
//     display: block;
//     float: left;
//     font-weight: bold;
//     height: 24px;
//     line-height: 24px;
//     list-style: none;
//     border-left: 1px solid #999;

//     &:last-child	{	// DOESNT WORK in ie 6-8
//       border-right: 1px solid #fff;
//     }
//   }
// }

// .legalinfos li a	{
//   display: block;
//   height: 24px;
//   padding: 0 18px;
//   border-left: 1px solid #fff;
// }

// .legalinfos li:last-child a	{  // DOESNT WORK in ie 6-8
//   border-right: 1px solid #999;
// }

// //	=========================================================================
// //	Social Media Buttons
// //	=========================================================================

// .socialmedia	{
//   display: none;	// show only from 600px upwards
//   @include box-sizing(content-box);

//   @media only screen and (min-width: 600px) {

//     & {
//       display: block;
//       float: left;
//       list-style: none;
//       margin: 12px 0 0 18px;

//       li {
//         float: left;
//         text-align: center;
//       }
//     }

//     .socialbut	{

//       &:before {	// DOESNT WORK in IE 6-7
//         display: inline-block;
//         width: 24px;
//         margin-top: 4px;
//         padding-left: 12px;
//         padding-right: 999em;
//         // to push text beyond element boundaries
//       }

//       &, &:link, &:visited {
//         display: inline-block;
//         width: 48px;
//         height: 30px;
//         overflow: hidden;
//         padding: 8px 12px 6px;
//         color: #aaa;
//         @include text-shadow_w11(1);
//       }

//       &:hover {
//         color: #777;
//       }

//       &:active {
//         color: #555;
//       }
//     }
//   }
// }


// //	=========================================================================
// //	Link to Top
// //	=========================================================================

// a.backtotop	{
//   position: absolute;
//   right: 20px;
//   top: 15px;
//   display: block;
//   width: 44px;
//   height: 40px;
// }

// .icntop	{
//   display: block;
//   width: 42px;
//   height: 45px;
//   text-indent:-999em;
// }

// a .icntop,
// a:link .icntop	{
//   background-image: inline-image('ui/icn-up.png');
//   background-size: 25px 25px;
//   background-position: 9px 9px;
//   background-repeat: no-repeat;  
//   //@include background-2x($sprite-navi, png, 50px, 500px);
//   //background-position: 9px -190px;
// }

// a:hover .icntop,
// a:active .icntop	{
//   background-image: inline-image('ui/icn-up-active.png');
//   background-size: 25px 25px;
//   background-position: 9px 8px;
//   background-repeat: no-repeat;
// }

// a:active .icntop	{
//   background-position: 9px 7px;
// }


// //	=========================================================================
// //	Bottomfooter
// //	=========================================================================

// .bottomfooter	{
//   margin: 24px 0 0;
//   color:#888;
//   // -webkit-font-smoothing: subpixel-antialiased;
//   @include text-shadow_b-11(.67);

//   p	{
//     font-size: 11px;
//     line-height: 15px;
//   }

//   a	{
//     color: #aaa;
//     text-shadow: none;

//     &:hover,
//     &:active	{
//       color: #fff;
//     }
//   }

//   hr	{
//     border-top: 1px dotted #2a2a2a;
//     border-bottom: 1px dotted #555;
//   }
// }

// .copyright	{
//   height: 42px;
//   margin: 24px 0;
// }

// .designedby	{
//   color:#fff !important;
//   display: inline-block;
//   height:18px;
//   margin-left:6px;
//   padding:3px 18px;
//   background-image: inline-image('ui/icn-kontinui.png');
//   background-size: 25px 25px;
//   background-position: 0 0;
//   background-repeat: no-repeat;  
//   @include opacity(.40);
//   //@include background-2x($sprite-navi, png, 50px, 500px);
//   //background-position: 0 -450px;
//   //background-repeat: no-repeat;
// }

// .designedby:hover	{
//   @include opacity(1);
// }

