//	#########################################################################
//	FOOTER, Pagefooter
//	#########################################################################

/*
 *  [1] Necessary to keep the footer fixed on the bottom of the browser, even if the page height is less than the browser window heigt
 */
.footer {
  position: absolute;  /* [1] */
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-lavender1;
  color: $color-lavender3;
  font-size: 14px;
  
  /**
   *
   *  In order to not have the scrollbutton overlap the contents of the footer
   */
  .block > .block {
    padding-right: 66px;
  }
  
  @media only screen and (min-width:480px) {
    font-size: 16px;
  }

  a {
    display: inline-block;
    color: $color-lavender3;
    padding: 0 6px;
    border-radius: 2px;
    line-height: 36px;
    white-space: normal;
    
    &:hover {
      color: $color-lavender5;
      text-decoration: none;
    }

    &:active {
      color: $color-white;
    }
  }


  .copyright {
    display: inline-block;
    padding: 0 6px;  
    line-height: 36px;
    @include fontweight(semibold);
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
  }

  .webdesign {
    position: relative;
    display: inline-block;
    padding-right: 24px;  // make place for the icon

    &:before {
      content:"";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-65%);
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%238078a3' d='M9.92 6c1.4.13 2.66.83 3.5 1.87 0 0-2.9 1.57-3.22 1.35-.4-.27-.28-3.2-.28-3.2zm.93 4.23c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm0 0c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm-.7 1.27c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm0 0c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm-5.77 2.66c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm0 0c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm-1.1-1.12S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04zm0 0S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &:hover:before {
      content:"";
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M9.92 6c1.4.13 2.66.83 3.5 1.87 0 0-2.9 1.57-3.22 1.35-.4-.27-.28-3.2-.28-3.2zm.93 4.23c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm0 0c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm-.7 1.27c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm0 0c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm-5.77 2.66c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm0 0c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm-1.1-1.12S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04zm0 0S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}