//	#########################################################################
//	FOOTER, Pagefooter
//	#########################################################################

/*
 *  [1] Necessary to keep the footer fixed on the bottom of the browser, even if the page height is less than the browser window heigt
 */
.footer {
  position: absolute;  /* [1] */
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #444;
  color: #888;
  background: $color-warmsand1;
  color: $color-clay;
  background: $color-lavender-dark;
  color: $color-lavender3;
  font-size: 14px;
  
  @media only screen and (min-width:480px) {
    font-size: 16px;
  }
  
  p {
    margin: 0;
    line-height: 36px:
  }

  a {
    display: inline-block;
    color: $color-lavender3;
    padding: 0 6px;
    border-radius: 2px;
    line-height: 36px:
    
    &:hover {
      color: $color-lavender5;
      text-decoration: none;
    }

    &:active {
      color: #fff;
    }
  }

  .copyright {
    font-family: $font-semibold;
    font-style: normal;
    display: inline-block;
    padding: 0 6px;  
  }

  .webdesign {
    position: relative;
    padding-right: 24px;

    &:before {
      content:"";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-65%);
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%238078a3' d='M9.92 6c1.4.13 2.66.83 3.5 1.87 0 0-2.9 1.57-3.22 1.35-.4-.27-.28-3.2-.28-3.2zm.93 4.23c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm0 0c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm-.7 1.27c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm0 0c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm-5.77 2.66c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm0 0c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm-1.1-1.12S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04zm0 0S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &:hover:before {
      content:"";
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M9.92 6c1.4.13 2.66.83 3.5 1.87 0 0-2.9 1.57-3.22 1.35-.4-.27-.28-3.2-.28-3.2zm.93 4.23c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm0 0c0 .45 3.5 2.02 3.5 2.02.37-1.4.1-2.9-.72-4.1 0 0-2.78 1.63-2.78 2.08zm-.7 1.27c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm0 0c-.4.24-.23 4.5-.23 4.5 1.65-.14 3.07-1.07 3.88-2.4 0 0-3.3-2.33-3.65-2.1zm-5.77 2.66c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm0 0c1.3 1.07 2.92 1.75 4.7 1.84 0 0 .13-4.3-.23-4.5-.33-.2-4.47 2.66-4.47 2.66zm-1.1-1.12S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04zm0 0S8.2 10.7 8.2 10.29c0-.53-5.6-3.94-5.6-3.94s5.84 3.1 6.25 2.88C9.4 8.94 9.08 0 9.08 0 2.55.34-.84 7.98 3.28 13.04z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}



// .footer	{
//   position: relative;
//   z-index: 0;  // to enable the pagefooter-shadow to appear above the page-background

//   @media only screen and (min-width: $break-tablet-small) {
//     z-index:100;
//   }

// }

// .pagefooter	{
//   overflow:visible;
//   position: relative;
//   height: 72px;
//   border-top: 1px solid #fff;
//   border-bottom: 3px solid #fff;
//   background: #ffffff;
//   @include background(linear-gradient(#fff, #ddd));
//   @include box-shadow(rgba(0, 0, 0, 0.2) top,  #ffffff 0%,#dddddd 100%);

//   @media only screen and (min-width: $break-tablet-small) {

//     &:before {	// DOESNT WORK in IE 6-7
//       content: "";
//       position: absolute;
//       z-index: -2;
//     }

//     // producing a curved dropshadow underneath .pagefooter
//     //
//     //  1.  necessary, otherwise it gets display:table from the clearfix and the shadow disappears
//     //
//     &.curved:before { // DOESNT WORK in IE 6-7
//       display: block; //  1
//       top: 0;
//       bottom: 0;
//       left: 10px;
//       right: 10px;
//       @include box-shadow(rgba(0, 0, 0, 0.67) 0 3px 24px);
//       @include border-radius(30%, 10px);
//     }
//   }

//   @media only screen and (min-width: $break-tablet-large)	{
//     & {
//       border-left: 3px solid #fff;
//       border-right: 3px solid #fff;
//       border-bottom-left-radius: 9px;
//       border-bottom-right-radius: 9px;
//     }
//   }
// }

// .legalinfos	{
//   position: relative;
//   top: 24px;
//   padding: 0;
//   margin: 0;

//   li	{
//     display: block;
//     float: left;
//     font-weight: bold;
//     height: 24px;
//     line-height: 24px;
//     list-style: none;
//     border-left: 1px solid #999;

//     &:last-child	{	// DOESNT WORK in ie 6-8
//       border-right: 1px solid #fff;
//     }
//   }
// }

// .legalinfos li a	{
//   display: block;
//   height: 24px;
//   padding: 0 18px;
//   border-left: 1px solid #fff;
// }

// .legalinfos li:last-child a	{  // DOESNT WORK in ie 6-8
//   border-right: 1px solid #999;
// }

// //	=========================================================================
// //	Social Media Buttons
// //	=========================================================================

// .socialmedia	{
//   display: none;	// show only from 600px upwards
//   @include box-sizing(content-box);

//   @media only screen and (min-width: 600px) {

//     & {
//       display: block;
//       float: left;
//       list-style: none;
//       margin: 12px 0 0 18px;

//       li {
//         float: left;
//         text-align: center;
//       }
//     }

//     .socialbut	{

//       &:before {	// DOESNT WORK in IE 6-7
//         display: inline-block;
//         width: 24px;
//         margin-top: 4px;
//         padding-left: 12px;
//         padding-right: 999em;
//         // to push text beyond element boundaries
//       }

//       &, &:link, &:visited {
//         display: inline-block;
//         width: 48px;
//         height: 30px;
//         overflow: hidden;
//         padding: 8px 12px 6px;
//         color: #aaa;
//         @include text-shadow_w11(1);
//       }

//       &:hover {
//         color: #777;
//       }

//       &:active {
//         color: #555;
//       }
//     }
//   }
// }


// //	=========================================================================
// //	Link to Top
// //	=========================================================================

// a.backtotop	{
//   position: absolute;
//   right: 20px;
//   top: 15px;
//   display: block;
//   width: 44px;
//   height: 40px;
// }

// .icntop	{
//   display: block;
//   width: 42px;
//   height: 45px;
//   text-indent:-999em;
// }

// a .icntop,
// a:link .icntop	{
//   background-image: inline-image('ui/icn-up.png');
//   background-size: 25px 25px;
//   background-position: 9px 9px;
//   background-repeat: no-repeat;  
//   //@include background-2x($sprite-navi, png, 50px, 500px);
//   //background-position: 9px -190px;
// }

// a:hover .icntop,
// a:active .icntop	{
//   background-image: inline-image('ui/icn-up-active.png');
//   background-size: 25px 25px;
//   background-position: 9px 8px;
//   background-repeat: no-repeat;
// }

// a:active .icntop	{
//   background-position: 9px 7px;
// }


// //	=========================================================================
// //	Bottomfooter
// //	=========================================================================

// .bottomfooter	{
//   margin: 24px 0 0;
//   color:#888;
//   // -webkit-font-smoothing: subpixel-antialiased;
//   @include text-shadow_b-11(.67);

//   p	{
//     font-size: 11px;
//     line-height: 15px;
//   }

//   a	{
//     color: #aaa;
//     text-shadow: none;

//     &:hover,
//     &:active	{
//       color: #fff;
//     }
//   }

//   hr	{
//     border-top: 1px dotted #2a2a2a;
//     border-bottom: 1px dotted #555;
//   }
// }

// .copyright	{
//   height: 42px;
//   margin: 24px 0;
// }

// .designedby	{
//   color:#fff !important;
//   display: inline-block;
//   height:18px;
//   margin-left:6px;
//   padding:3px 18px;
//   background-image: inline-image('ui/icn-kontinui.png');
//   background-size: 25px 25px;
//   background-position: 0 0;
//   background-repeat: no-repeat;  
//   @include opacity(.40);
//   //@include background-2x($sprite-navi, png, 50px, 500px);
//   //background-position: 0 -450px;
//   //background-repeat: no-repeat;
// }

// .designedby:hover	{
//   @include opacity(1);
// }

