//	#########################################################################
//	HEADER
//	#########################################################################

.header {
  
  .block {
    padding: 0;
  }
}


/*------------------------------------*\
  Logo
\*------------------------------------*/

.logo-main {
  position: relative;
  width: 67%;
  // padding-right: 12px;
  // margin: 0;
  
  // @media only screen and (min-width: 650px) {
  //   // width: 65%;
  //   padding-right: 18px;
  // }

  // @media only screen and (min-width: 750px) {
  //   // width: 60%;
  //   padding-right: 24px;
  // }
  
  img,
  svg {
    display: inline-block;
    vertical-align: middle;
    margin: 14px 6px 14px 9px;

    @media only screen and (min-width: 750px) {
      margin-left: 2%;
    }
  }
  
  a {
    display: block;
    color: currentColor;
  }
}


[class*="logo-part"] {
  width: 100px;
  display: inline-block;
  font-size: 30px;
  
  @media only screen and (min-width: 500px) {
    width: auto;
    font-size: 36px;
  }

  @media only screen and (min-width: 700px) {
    font-size: 42px;
  }
}

.logo-part1 {
  color: $color-logo1;
  vertical-align: middle;
}

.logo-part2 {
  color: $color-logo0;
  @include fontweight(regular);
}


/*------------------------------------*\
  Langswitcher plugin styles - modified
\*------------------------------------*/

/* LANGSWITCHER PLUGIN-STYLES MODIFIED */

.langswitcher {
  display: table;
  position: absolute;
  top: 0;
  right: 30px;
  height: 90px;
  list-style: none;
  margin: 0 !important;
  transform: none;
  -webkit-transform: none;
  @include fontweight(regular);
}

.langswitcher li {
  display: table-cell;
  position: relative;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 0 0 24px;
  margin: 0;
  
  a {
    color: #999;
    border-bottom: 1px solid #ccc;
    
    &:hover {
      color: $color-logo0;
      border-bottom: 1px solid $color-logo0;
    }
  }
}


.full-lang {
  display: none;
}

.short-lang {
  display: inline-block;
}


@media only screen and (min-width: 700px) {
  .full-lang {
    display: inline-block;
  }
  .short-lang {
    display: none
  }
}

.langswitcher .active {
  color: $color-logo0;
  border: none;
  text-decoration: none;
  cursor: default;
  border-bottom: 1px solid #fff !important;
  @include fontweight(semibold);
}