//	#########################################################################
//	Image STYLES
//	#########################################################################


/*------------------------------------*\
  Lazyloading
\*------------------------------------*/
  
.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 200ms;
  background: #fff url(loader.gif) no-repeat center;
}

.lazyloaded {
	opacity: 1;
}