/*------------------------------------*\
  1. necessary to get automatic numbering of headlines, see:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
\*------------------------------------*/
.page-example {
  counter-reset: step  /* 1.  */ 
}

/*---------------------------------------------------------------------------*\
    Image row with table-cell-spacing: Each image gets an equal width
\*---------------------------------------------------------------------------*/

.image-row {
  padding: 0;
  margin: 0 -30px 30px;
  overflow: hidden;
  border-spacing: 0;

  @media only screen and (min-width:750px) {
    margin: 6px -6px 30px;
    border-spacing: 6px 0;
  }

  // @media only screen and (min-width:1050px) {
  //   margin: 0 0 30px;
  // }

  & + & {
    margin-top: -30px;
    @media only screen and (min-width:750px) {
      margin-top: -24px;
    }

    @media only screen and (min-width:1050px) {
      margin-top: -33px;
    }
  }

  & + &.width-100 {
    width: auto !important;
    
    @media only screen and (min-width:750px) {
      width: calc(100% + 12px) !important;
    }
  }

  /*
   *  Workaround for IE who doesnt (yet) understand object-fit;
   */
  .image-row > * {
    overflow: hidden;
  }

  a {
    display: table-cell;
    width: 100%;
    height: 100%;
    
    // padding-right: 6px;
  }

  // a:last-of-type {
  //   padding: 0;
  // }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 50vmin;
    
    @media only screen and (min-width: 750px) {
      border-radius: 4px;
      max-height: 40vmin;
    }
    
    // @media only screen and (min-width: 700px) {
    //   max-height: 50vmin;
    // }
    // @media only screen and (min-width: 1000px) {
    //   max-height: 55vmin;
    // }
    // @media only screen and (min-width: 1200px) {
    //   max-height: 60vmin;
    // }
  }

  // a:first-of-type img {
  //   @media only screen and (max-width: 650px) {
  //     border-top-left-radius: 0;
  //     border-bottom-left-radius: 0;
  //   }
  // }

  // a:last-of-type img {
  //   @media only screen and (max-width: 650px) {
  //     border-top-right-radius: 0;
  //     border-bottom-right-radius: 0;
  //   }
  // }

  

// .image-row {
//   &__image-container {
//     width: 120px; // the same width and height as for the <img>
//     height: 120px;
  
//     &.compat-object-fit {
//    background-size: cover;
//    background-position: center center;
//    .post__featured-image { // hide image if object fit is not supported - opacity to 0 for the link area
//     opacity: 0;
//    }
//   }
//  }
//  &__featured-image {
//   width: 120px;
//   height: 120px;
//   object-fit: cover;
//  }
// }


  figcaption {
    // font-size: 14px;
    color: #888;
    background: #EEE;
    border-radius: 0; 
    padding: 6px 18px 6px 36px;
    margin: 0;
    // word-break: break-word;
    // -webkit-hyphens: auto;
    // hyphens: auto;
    @media only screen and (min-width: 750px) {
      border-radius: 4px;
      padding: 6px 6px 6px 12px;
      margin: 6px 5px 0;
    }
  }
}

.image-row {
  
  @media only screen and (min-width:1050px) {
    display: inline-block;
    // vertical-align: middle;
    width: 70%;
    // margin-bottom: 0;
  }
}


.image-row-text figcaption {
  display: table-cell;
  color: #fff;
  line-height: 115%;
  // font-size: calc(1.5vw + 1.5vh + 3vmin);
  // line-height: calc(2vw + 2vh + 3vmin);
  // word-break: break-all;
  // text-transform: lowercase;
  // text-align: justify;
  // font-size: 48px;
  font-family: $font-regular;
  letter-spacing: 1px;
  // text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  vertical-align: middle;
  padding: 12px 15px;
  margin: 0;
  
  @media only screen and (min-width:750px) {
    padding: 12px 18px;
    line-height: 105%;
  }
}


/*---------------------------------------------------------------------------*\
    Text / Headline styles (used on page-example)
\*---------------------------------------------------------------------------*/

hr.has-bullet {
  background-color: #ccc;
  margin: 45px 0 18px 60px;
  border-radius: 1px;
  
  @media only screen and (min-width:1050px) {
    margin: 0 0 18px 60px;
  }
}

.bullet {
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 24px;
  width: 54px;
  height: 54px;
  line-height: 63px;
  margin: 0 18px 12px 0;
  color: $color-logo0;
  text-align: center;
  background: none;
  font-size: 0;
  // text-indent: -10px;


/*------------------------------------*\
  1. Increment the section counter
  2. Display the counter 
\*------------------------------------*/

  &:before {
    counter-increment: step;                
    content: counter(step); 
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 36px;
  }

  &:after {
    content:'';
    position: absolute;
    z-index: -1;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 50% 50% 0 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: currentColor;
  }

  .has-bullet + & {
    margin-top: -45px;
    margin-right: 9px;
  }

  & + p {
    text-indent: 48px;
  
    @media only screen and (min-width:1050px) {
      display: inline-block;
      vertical-align: top;
      width: calc(30% + 6px);
      padding-right: 30px; 
    }
  }

  &.bullet-text-right + p {
    @media only screen and (min-width:1050px) {
      float: right;
      padding-right: 0;
      padding-left: 18px;
      margin-bottom: 48px;
      text-indent: 0;
    }
  }
}


ul p {
  margin-bottom: 0;
}


/*---------------------------------------------------------------------------*\
    Manual image-widths: Based on additional class on .image-row
\*---------------------------------------------------------------------------*/

/*------------------------------------*\
  2 images per row
\*------------------------------------*/

.row-100 {
  width: 100% !important;
}

.row-50-50 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 50% !important;}
}

.row-40-60 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 60% !important;}
}
.row-60-40 {
  > *:nth-child(1) {width: 60% !important;}
  > *:nth-child(2) {width: 40% !important;}
}

.row-33-67 {
  > *:nth-child(1) {width: 33% !important;}
  > *:nth-child(2) {width: 67% !important;}
}
.row-67-33 {
  > *:nth-child(1) {width: 67% !important;}
  > *:nth-child(2) {width: 33% !important;}
}

.row-25-75 {
  > *:nth-child(1) {width: 25% !important;}
  > *:nth-child(2) {width: 75% !important;}
}
.row-75-25 {
  > *:nth-child(1) {width: 75% !important;}
  > *:nth-child(2) {width: 25% !important;}
}

.row-20-80 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 80% !important;}
}
.row-80-20 {
  > *:nth-child(1) {width: 80% !important;}
  > *:nth-child(2) {width: 20% !important;}
}


/*------------------------------------*\
  3 Images per row
\*------------------------------------*/

.row-33-33-33 {
  > *:nth-child(1) {width: 33.3333% !important;}
  > *:nth-child(2) {width: 33.3333% !important;}
  > *:nth-child(3) {width: 33.3333% !important;}
}


.row-20-40-40 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 40% !important;}
  > *:nth-child(3) {width: 40% !important;}
}
.row-40-20-40 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 20% !important;}
  > *:nth-child(3) {width: 40% !important;}
}
.row-40-40-20 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 40% !important;}
  > *:nth-child(3) {width: 20% !important;}
}


.row-30-30-40 {
  > *:nth-child(1) {width: 30% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 40% !important;}
}
.row-30-40-30 {
  > *:nth-child(1) {width: 30% !important;}
  > *:nth-child(2) {width: 40% !important;}
  > *:nth-child(3) {width: 30% !important;}
}
.row-40-30-30 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 30% !important;}
}


.row-25-25-50 {
  > *:nth-child(1) {width: 25% !important;}
  > *:nth-child(2) {width: 25% !important;}
  > *:nth-child(3) {width: 50% !important;}
}
.row-25-50-25 {
  > *:nth-child(1) {width: 25% !important;}
  > *:nth-child(2) {width: 50% !important;}
  > *:nth-child(3) {width: 25% !important;}
}
.row-50-25-25 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 25% !important;}
  > *:nth-child(3) {width: 25% !important;}
}


.row-20-30-50 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 50% !important;}
}
.row-20-50-30 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 50% !important;}
  > *:nth-child(3) {width: 30% !important;}
}
.row-50-20-30 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 20% !important;}
  > *:nth-child(3) {width: 30% !important;}
}
.row-50-30-20 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 20% !important;}
}
