/*------------------------------------*\
  1. necessary to get automatic numbering of headlines, see:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
\*------------------------------------*/

.main {
  counter-reset: step  /* 1. */ 
}

/*---------------------------------------------------------------------------*\
    Image row with table-cell-spacing: Each image gets an equal width
\*---------------------------------------------------------------------------*/

.image-row {
  display: inline-block;
  overflow: hidden;
  border-spacing: 0;
  padding: 0;
  margin: 0 -24px 12px;

  @media only screen and (min-width:480px) {
    margin: 0 -30px 12px;
  }

  @media only screen and (min-width:750px) {
    border-spacing: 6px 0;
    margin: 0 -6px 12px;
  }

  @media only screen and (min-width:1050px) {
    width: -webkit-calc(70% + 6px);
    width: calc(70% + 6px);
  }


  /*
   *  Setting the style of second .image-row, directly following the first
   */
  & + & {
    margin-top: -21px;
    
    @media only screen and (min-width:750px) {
      margin-top: -15px;
    }
  }

  & + &.width-100 {
    width: auto !important;
    
    @media only screen and (min-width:750px) {
      width: calc(100% + 12px) !important;
    }
  }


  a {
    display: table-cell;
    width: 100%;
    height: 100%;
    
    @media only screen and (min-width: 750px) {
      border-radius: 4px;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 50vmin;
    
    @media only screen and (min-width: 750px) {
      border-radius: 4px;
      max-height: 40vmin;
    }

    @media only screen and (min-width: 1200px) {
      max-height: 320px;
    }
  }


  figcaption {
    background: #e8e8e8;
    background: #D7CAAD; // lightbeige
    border-radius: 0; 
    padding: 6px 18px 6px 36px;
    margin: 0;
    // word-break: break-word;
    // -webkit-hyphens: auto;
    // hyphens: auto;
    
    @media only screen and (min-width: 750px) {
      border-radius: 4px;
      padding: 6px 6px 6px 12px;
      margin: 6px 5px 0;
    }
  }
}


.row-with-title figcaption {
  display: table-cell;
  color: #fff;
  background: $color-logo0;
  font-family: $font-regular;
  letter-spacing: 1px;
  line-height: 115%;
  vertical-align: middle;
  padding: 12px 15px;
  margin: 0;
  // font-size: calc(1.5vw + 1.5vh + 3vmin);
  // line-height: calc(2vw + 2vh + 3vmin);
  // word-break: break-all;
  // text-transform: lowercase;
  // text-align: justify;
  // font-size: 48px;
  // text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  
  @media only screen and (min-width:750px) {
    padding: 12px 18px;
    line-height: 105%;
  }
}



/*---------------------------------------------------------------------------*\
    Corresponding Text row with table-cell-spacing: 
    Each image gets an equal width
\*---------------------------------------------------------------------------*/

// 1. Unfortunately, due to markdown-restrictions, blockquotes cannot have
// their own classnames. Hence, what should be called ".text-row" 
// can only be addressed via it's parent selector ".bullet-only-text"

// 2. Setting min-width for each p of 300px (assuming 3 paragraphs).
// Thus preventing a column with very little text becoming too narrow.

.text-row,  /* 1. */
.bullet-only-text + blockquote {  
  display: table;
  padding: 0 0 36px;
  margin: 0;

  p {
    display: block;
    
    @media only screen and (min-width: 900px) {
      display: table-cell;
      padding-right: 30px;
      min-width: 270px; /* 2. */
    }
    @media only screen and (min-width: 990px) {
      min-width: 300px; /* 2. */
    }

    &:first-of-type {
      text-indent: 54px;
      
      // &::first-line {
      //   font-family: $font-semibold;
      // }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


/*---------------------------------------------------------------------------*\
    Text / Headline styles (used on page-example)
\*---------------------------------------------------------------------------*/

.bullet {
  display: block !important;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 66px;
  width: calc(100% - 66px);
  height: 0;
  padding: 0 0 6px;
  margin: 12px 0 24px;
  overflow: visible; // necessary for IE 10+
  
  box-sizing: border-box;
  color: $color-logo0;
  background: none;
  border-bottom: 2px solid currentColor;
}

.bullet-headline {
  border: 0;
  font-family: $font-semibold !important;
  // background: #fff;
}

h2.bullet-headline{
  height: 48px;
  line-height: 30px !important;
  margin-bottom: 0px;
}

h3.bullet-headline {
  height: 30px;
  line-height: 30px !important;
  margin-bottom: 12px;
}


/*------------------------------------*\
  General bullet element 
  Use with .fa-(symbol) or .bullet-number, 
  to set the content for the ":before"-element 
\*------------------------------------*/

.bullet {

  &:before {
    display: block;
    position: absolute;
    left: -72px;
    top: -14px;
    width: 54px;
    height: 54px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 52px !important;
    // border: 1px solid #f3c;
  }

  /*
   *  Coloured placemarker background
   */
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: -75px;
    top: -18px;
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50% 50% 0 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: currentColor;
  }
}


/*------------------------------------*\
  Bullet carrying number
  1. Increment the section counter
  2. Display the counter 
\*------------------------------------*/

.bullet-number {

  &:before {
    counter-increment: step;  /* 1. */
    content: counter(step);   /* 2. */
    display: block;
    position: absolute;
    z-index: 3;
    // left: -69px;
    top: -10px;
    // width: 54px;
    // height: 54px;
    color: #fff;
    font-family: $font-regular;
    // text-align: center;
    // font-size: 36px;
    // line-height: 60px !important;
  }
}


/*------------------------------------*\
  Bullet carrying Font Awesome symbol
\*------------------------------------*/

.bullet.fa:before {
  left: -71px;
  font-size: 27px !important;
  padding: 0;
}


/*------------------------------------*\
  Setting text left / right below bullet
\*------------------------------------*/

.bullet {

  & + p {
    float: left;
    vertical-align: top;
    text-indent: 54px;
    margin: 0 0 24px;
  
    @media only screen and (min-width:1050px) {
      display: inline-block;
      width: calc(30% + 6px);
      padding: 0 30px 0 0;
    }
  }

  // & + p::first-line {
  //   font-family: $font-semibold;
  // }

  &.bullet-text-right + p {
    @media only screen and (min-width:1050px) {
      float: right;
      text-indent: 0;
      padding: 0 0 0 18px;
    }
  }

  &.bullet-only-text + blockquote p {
    @media only screen and (min-width:1050px) {
      // width: 100%;
      // vertical-align: top;
      // padding: 0 30px 0 0;
    }
  }
}


/*---------------------------------------------------------------------------*\
    Manual image-widths: Based on additional class on .image-row
\*---------------------------------------------------------------------------*/

/*------------------------------------*\
  2 images per row
\*------------------------------------*/

.row-100 {
  width: 100% !important;
}

.image-row.width-100 {
  width: auto !important;
  
  @media only screen and (min-width:750px) {
    width: -webkit-calc(100% +12px) !important;
    width: calc(100% +12px) !important;
  }
}

.row-50-50 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 50% !important;}
}

.row-40-60 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 60% !important;}
}
.row-60-40 {
  > *:nth-child(1) {width: 60% !important;}
  > *:nth-child(2) {width: 40% !important;}
}

.row-33-67 {
  > *:nth-child(1) {width: 33% !important;}
  > *:nth-child(2) {width: 67% !important;}
}
.row-67-33 {
  > *:nth-child(1) {width: 67% !important;}
  > *:nth-child(2) {width: 33% !important;}
}

.row-30-70 {
  > *:nth-child(1) {width: 30% !important;}
  > *:nth-child(2) {width: 70% !important;}
}
.row-70-30 {
  > *:nth-child(1) {width: 70% !important;}
  > *:nth-child(2) {width: 30% !important;}
}

.row-25-75 {
  > *:nth-child(1) {width: 25% !important;}
  > *:nth-child(2) {width: 75% !important;}
}
.row-75-25 {
  > *:nth-child(1) {width: 75% !important;}
  > *:nth-child(2) {width: 25% !important;}
}

.row-20-80 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 80% !important;}
}
.row-80-20 {
  > *:nth-child(1) {width: 80% !important;}
  > *:nth-child(2) {width: 20% !important;}
}


/*------------------------------------*\
  3 Images per row
\*------------------------------------*/

.row-33-33-33 {
  > *:nth-child(1) {width: 33% !important;}
  > *:nth-child(2) {width: 33% !important;}
  > *:nth-child(3) {width: 33% !important;}
}


.row-20-40-40 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 40% !important;}
  > *:nth-child(3) {width: 40% !important;}
}
.row-40-20-40 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 20% !important;}
  > *:nth-child(3) {width: 40% !important;}
}
.row-40-40-20 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 40% !important;}
  > *:nth-child(3) {width: 20% !important;}
}


.row-30-30-40 {
  > *:nth-child(1) {width: 30% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 40% !important;}
}
.row-30-40-30 {
  > *:nth-child(1) {width: 30% !important;}
  > *:nth-child(2) {width: 40% !important;}
  > *:nth-child(3) {width: 30% !important;}
}
.row-40-30-30 {
  > *:nth-child(1) {width: 40% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 30% !important;}
}


.row-25-25-50 {
  > *:nth-child(1) {width: 25% !important;}
  > *:nth-child(2) {width: 25% !important;}
  > *:nth-child(3) {width: 50% !important;}
}
.row-25-50-25 {
  > *:nth-child(1) {width: 25% !important;}
  > *:nth-child(2) {width: 50% !important;}
  > *:nth-child(3) {width: 25% !important;}
}
.row-50-25-25 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 25% !important;}
  > *:nth-child(3) {width: 25% !important;}
}


.row-20-30-50 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 50% !important;}
}
.row-20-50-30 {
  > *:nth-child(1) {width: 20% !important;}
  > *:nth-child(2) {width: 50% !important;}
  > *:nth-child(3) {width: 30% !important;}
}
.row-50-20-30 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 20% !important;}
  > *:nth-child(3) {width: 30% !important;}
}
.row-50-30-20 {
  > *:nth-child(1) {width: 50% !important;}
  > *:nth-child(2) {width: 30% !important;}
  > *:nth-child(3) {width: 20% !important;}
}
