/*------------------------------------*\
  Main nav w/ priority+ menu
\*------------------------------------*/

.nav-bar {
  position: relative;
  height: 51px;

  @media only screen and (min-width: 1200px) {
    overflow: visible;
  }
}

.main-nav__wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  // background: #695D8E;
  // background: #81493D;
  // background: #C26236;
  // background: linear-gradient(to top, rgba(0,0,0,0) 39%, rgba(0,0,0,0.15) 40%);
  // background: linear-gradient(to bottom, rgba(0,0,0,0) 59%, rgba(0,0,0,0.15) 60%);
  background: $color-redwine;
  // border-bottom: 3px solid rgba(0,0,0,0.33);

  @media only screen and (min-width: 800px) {
    overflow: visible;
  }

  /* fade-out element on right side of main-nav, only on mobile */
  @media only screen and (max-width: 800px) {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 51px;
      width: 100px;
      pointer-events: none;
    }
    &:before {
      left: 0;
      width: 50px;
      background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.33) );
      z-index: 1;
    }
    &:after {
      right: 0;
      background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6) );
    }
  }

  @media only screen and (min-width: 1200px) {
    border-radius: 9px;
  }
}

/* scroll-button on right side of main-nav, only on mobile */
.scrollmenu {
  display: none;
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  width: 42px;
  height: 51px;
  cursor: pointer;
  background: rgba(0,0,0,0.75);
  background: $color-redwine;
  border-left: 2px solid #fff;
  
  @media only screen and (max-width: 800px) {
    display: block;
  }

  &:after {
    content: "►";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 51px;
    width: 42px;
    color: #fff;
    font-size: 36px;
    line-height: 51px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  &.active:after {
    content: "◄";
    display: inline-block;
    position: absolute;
    left: -2px;
    top: 0;
    height: 51px;
    width: 42px;
  }
}


.main-nav {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 6px 6px 15px;
  margin: 0 0 -9px 0;

  text-align: center;
  list-style: none;
  
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;  /* to make the element "flickable" under ios, safari & chrome - see: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
  -webkit-transform: translate3d(0,0,0);
  
  @include fontweight(regular);
  
  @media only screen and (min-width: 800px) {
    margin: 0 0 -24px;
    display: table;
    overflow: auto;
    padding: 6px;
    margin: 0;
  }
}


.main-nav__item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  text-align: center;
  margin: 0;
  padding: 0 3px;

  &:first-of-type{
    width: 0.5%;
    padding-left: 0;
  }

  &:last-of-type{
    padding-right: 48px;
    
    @media only screen and (min-width: 800px) {
      padding-right: 0;
    }
  }
}


.main-nav__item--home a {
  display: block;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding: 0 12px;
  min-width: 48px;
  
  &.fa:before {
    padding-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 6px;
  white-space: nowrap;
  color: #fff;
  font-size: 18px;

  .active &,
  .focus &,
  &:hover {
    background: #fff;
    border-radius: 3px;
  }

  &:hover {
    color: currentColor;
  }

  .active &,
  .focus &,
  .active &:hover {
    color: $color-logo1 !important;
  }
}

/*  Main nav when sticky

.is-sticky .main-nav {
  position: fixed;
  max-width: 1200px;
  top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  @include material-card1();
}

.main-nav__item--home {
  display: table-cell;
  text-align: center;
  width: 0.001%;
  opacity: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  
  a {
    display: none;
  }
}

.is-sticky .main-nav__item--home {
  width: 1%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  
  a {
    display: inline-block;
    padding: 0;
    width: 36px;
    background: #fff;
    border-radius: 50%;
  }
}
*/


/*------------------------------------*\
  Sub nav
\*------------------------------------*/

.sub-nav {
  display: none;
  position: absolute;
  left: -3px;
  padding: 6px 6px 0;
  width: 200px;
  overflow: hidden;
  background: $color-redwine;
  
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
  // border-bottom: 3px solid rgba(0,0,0,0.33);
}

.sub-nav__item {
  display: block;
  position: relative;
  margin-bottom: 6px;
}

.sub-nav__link {
  display: block;
  width: 100%;
  padding: 6px;
  border-radius: 3px;
  color: $color-white;
  
  &:hover {
    background: $color-white;
    color: $color-logo1;
  }
}


.main-nav__item:hover {

  > a {
    background: white;
    border-radius: 3px;
    color: $color-logo1;
  }

  .sub-nav {
    display: block;
  }
}