/*---------------------------------------------------------------------------*\
    Modular Block: Examples
\*---------------------------------------------------------------------------*/


.block--examples {
  position: relative;
  z-index: 1; // necessary for containing icon to appear
  padding: 0;
  background: $color-lavender2;
  
  /*
   * Setting bgimg "Vieux Port"
   */ 
  @media only screen and (min-width:1200px) {
    &:after {
      opacity: .2;
      left: auto;
      right: 0;
      background-size: 380px;
      background-position: right 0 bottom 66px;
      pointer-events: none;
    }
  }
  
  h1, h2 {
    color: $color-lavender5;
  }

  h3 {
    // color: $color-red2;
    color: $color-rouge1;
  }
}
