/*---------------------------------------------------------------------------*\
    Modular Block: Services
\*---------------------------------------------------------------------------*/

.block--services {
  z-index: 1;
  // background: $color-greywalls1; // sand
  // background: linear-gradient(to bottom, $color-greywalls1, #EFE8D8);
  // background: #FDEBAF;
  // background: $color-warmsand2; // warm sand
  // background: linear-gradient(to top, #FFF3D3, $color-warmsand2); // warm sand fade
  // background: linear-gradient(to top, $color-warmsand3, $color-warmsand2);
  // background: linear-gradient(to top, $color-warmsand2, #FFE6A8);
  background: $color-warmsand2;
}

/*------------------------------------*\
  Services link
\*------------------------------------*/

.cell--service {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 24px;
  margin-bottom: 18px;
  // @include clearfix-html5bp;
  
  &:hover {
    text-decoration: none;
  }
  
  &:first-of-type {
    margin-bottom: 0;
    
    &:after {
      content:"";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      // @include dotted-border('bottom', 10, 'D7CAAD');
      // @include dotted-border('bottom', 10, 'DFCA85');
      // @include dotted-border('bottom', 10, 'D1BD8B');
      // @include dotted-border('bottom', 10, 'ebcb7b');
      @include dotted-border('bottom', 10, 'EFE8D8');
    }
  }

  @media only screen and (min-width: 800px) {
    display: table-cell;
    width: 50%;
    padding-bottom: 0;
    
    &:first-of-type {
      padding-right: 30px;
      
      &:after {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: 1px;
        height: 100%;
        border: none;
        // @include dotted-border('right', 10, 'D7CAAD');
        // @include dotted-border('right', 10, 'DFCA85');
        // @include dotted-border('right', 10, 'D1BD8B');
        // @include dotted-border('right', 10, 'ebcb7b');
        @include dotted-border('right', 10, 'EFE8D8');
      }

      .page-welcome &:after {
        right: 6px;
      }
    }

    &:last-of-type {
      padding-left: 30px;
    }
  }
}


.headline--service {
  position: relative;
  z-index: 2;
  color: #fff;
  
  * {
    vertical-align: middle;
    display: inline-block;
  }

  @media only screen and (min-width: 800px) { 
    font-size: 40px !important;
  }

  @media only screen and (min-width: 950px) { 
    font-size: 48px !important;
  }

  @media only screen and (min-width: 1150px) { 
    font-size: 60px !important;
  }
}


.byline--service {
  margin-bottom: 12px;
}



.icon--service {
  width: 54px;
  height: 54px;
  margin-right: 18px;
  margin-left: -3px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  transition: box-shadow .3s;
  
  @media only screen and (min-width: 450px) {
    width: 66px;
    height: 66px;
    margin-right: 21px;
    margin-left: -6px;
  }
  
  @media only screen and (min-width: 550px) {
    width: 75px;
    height: 75px;
    margin-right: 24px;
  }
  
  @media only screen and (min-width: 800px) {
    a:hover & {
      box-shadow: 0 0 0 6px #fff !important;
    }
  }
}


/*
 * Headlines on pages with 50%-wide cells (additional breakpoints)
 */

.page-welcome .icon--service,
.page-services .icon--service,
.page-pricing .icon--service {
  margin: 0 18px 0 -3px;
  
  @media only screen and (min-width: 450px) {
    width: 66px;
    height: 66px;
    margin-right: 21px;
    margin-left: -6px;
  }
  
  @media only screen and (min-width: 550px) {
    width: 75px;
    height: 75px;
    margin-right: 24px;
  }
  
  @media only screen and (min-width: 800px) { 
    width: 54px;
    height: 54px;
    margin-right: 18px;
  }

  @media only screen and (min-width: 950px) { 
    width: 66px;
    height: 66px;
    margin-right: 21px;
  }

  @media only screen and (min-width: 1150px) { 
    width: 75px;
    height: 75px;
    margin-right: 24px;
    margin-left: -6px;
  }
}
