/*---------------------------------------------------------------------------*\
    Modular Block: Call to action
\*---------------------------------------------------------------------------*/


.block--cta  {
  border-top: 6px solid $color-white;
  background: $color-white;
  z-index: 10;
  padding-top: 24px;
  padding-bottom: 24px;
}


.headline--cta {
  position: relative;
  color: $color-logo1;
  line-height: 160%;
  margin: 0;
  @include fontweight(regular);
  @include fluid-type(font-size, 
    320px, 900px, 24px, 30px);

  &:before {
    content: "";
    display: table-cell;
    position: relative;
    vertical-align: middle;
    @include fluid-type(width height,
      320px, 720px, 80px, 110px);
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12px;
    top: 0;
    background: url(../img/logo_icon3.svg) no-repeat;
    background-size: 100% 100%;
    @include fluid-type(width height,
      320px, 720px, 80px, 100px);
  }

  span {
    vertical-align: middle;
    display: table-cell;
    position: relative;
  }
  
  
  a {
    color: $color-seagreen2;
    padding: 6px 0 2px;
    vertical-align: baseline;
    @include fontweight(semibold);
    
    &:hover {
      color: $color-rouge2;
    }
  }
}