/*---------------------------------------------------------------------------*\
    Modular Block: Services
\*---------------------------------------------------------------------------*/

.block--services {
  z-index: 1;
  // background: $color-greywalls1; // sand
  // background: linear-gradient(to bottom, $color-greywalls1, #EFE8D8);
  // background: #FDEBAF;
  // background: $color-warmsand2; // warm sand
  // background: linear-gradient(to top, #FFF3D3, $color-warmsand2); // warm sand fade
  // background: linear-gradient(to top, $color-warmsand3, $color-warmsand2);
  // background: linear-gradient(to top, $color-warmsand2, #FFE6A8);
  background: $color-sable5;
}

/*------------------------------------*\
  Services link
\*------------------------------------*/

.cell--service {
  display: block;
  position: relative;
  // width: 100%;
  padding-bottom: 24px;
  margin-bottom: 18px;
  // @include clearfix-html5bp;
  
  &:hover {
    text-decoration: none;
  }
  
  &:first-of-type {
    margin-bottom: 0;
    
    &:after {
      content:"";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      // @include dotted-border('bottom', 10, 'D7CAAD');
      // @include dotted-border('bottom', 10, 'DFCA85');
      // @include dotted-border('bottom', 10, 'D1BD8B');
      // @include dotted-border('bottom', 10, 'ebcb7b');
      @include dotted-border('bottom', 10, 'dec586');
    }
  }

/**
 * 1. From 720px onwards, the cells get juxtaposed
 */
  @media only screen and (min-width: 720px) {
    display: inline-block;
    width: 50%;  // 1.
    padding-bottom: 0;
    
    &:first-of-type {
      padding-right: 30px;
      
      &:after {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: 1px;
        height: 100%;
        border: none;
        // @include dotted-border('right', 10, 'D7CAAD');
        // @include dotted-border('right', 10, 'DFCA85');
        // @include dotted-border('right', 10, 'D1BD8B');
        // @include dotted-border('right', 10, 'ebcb7b');
        @include dotted-border('right', 10, 'dec586');
      }

      .page-welcome &:after {
        right: 6px;
      }
    }
    
    /*
     *  1. If you do not float right right cell, rounding errors prevent 
     *  it from lining up with its neighbour.
     */
    &:last-of-type {
      float: right;  // 1.
      padding-left: 30px;
    }
  }
}


.headline--service {
  position: relative;
  z-index: 2;
  color: $color-white;
  @include fluid-type(font-size, 
    320px, 720px, 33px, 60px, 
           720px, 1200px, 36px, 60px);
  
  * {
    vertical-align: middle;
    display: inline-block;
  }

  // @media only screen and (min-width: 720px) { 
  //   font-size: 40px !important;
  // }

  // @media only screen and (min-width: 950px) { 
  //   font-size: 48px !important;
  // }

  // @media only screen and (min-width: 1150px) { 
  //   font-size: 60px !important;
  // }
}


.byline--service {
  margin-bottom: 12px;
  line-height: 135%;
  @include fluid-type(font-size, 
    320px, 720px, 18px, 24px, 
           720px, 900px, 21px, 24px);
}



.icon--service {
  display: inline-block;
  width: 54px;
  height: 54px;
  // margin-right: 18px;
  // margin-left: -3px;
  margin: 0 18px 0 -3px;
  border-radius: 50%;
  transition: box-shadow .3s;
  
  @include fluid-type(width height, 
    320px, 720px, 48px, 75px, 
           720px, 1200px, 48px, 75px);
           
  @include fluid-type(margin-right, 
    320px, 720px, 12px, 24px, 
           720px, 1200px, 15px, 24px);
  

  
  // @media only screen and (min-width: 450px) {
  //   width: 66px;
  //   height: 66px;
  //   margin-right: 21px;
  //   margin-left: -6px;
  // }
  
  // @media only screen and (min-width: 550px) {
  //   width: 75px;
  //   height: 75px;
  //   margin-right: 24px;
  // }
  
  @media only screen and (min-width: 720px) {
    a:hover & {
      box-shadow: 0 0 0 6px $color-white !important;
    }
  }
}


/*
 * Headlines on pages with 50%-wide cells (additional breakpoints)
 */

// .page-welcome .icon--service,
// .page-services .icon--service,
// .page-pricing .icon--service {
  // margin: 0 18px 0 -3px;
  
  // @media only screen and (min-width: 450px) {
    // width: 66px;
    // height: 66px;
  //   margin-right: 21px;
  //   margin-left: -6px;
  // }
  
  // @media only screen and (min-width: 550px) {
  //   width: 75px;
  //   height: 75px;
  //   margin-right: 24px;
  // }
  
  // @media only screen and (min-width: 720px) { 
  //   width: 54px;
  //   height: 54px;
  //   margin-right: 18px;
  // }

  // @media only screen and (min-width: 950px) { 
  //   width: 66px;
  //   height: 66px;
  //   margin-right: 21px;
  // }

  // @media only screen and (min-width: 1150px) { 
  //   width: 75px;
  //   height: 75px;
  //   margin-right: 24px;
  //   margin-left: -6px;
  // }
// }
