/*---------------------------------------------------------------------------*\
    Modular Block: Services
\*---------------------------------------------------------------------------*/

.block--services {
  z-index: 1;
  background: $color-sable5;
}

/*------------------------------------*\
  Services link
\*------------------------------------*/

.cell--service {
  display: block;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 18px;
  
  &:hover {
    text-decoration: none;
  }
  
  &:first-of-type {
    margin-bottom: 0;
    
    &:after {
      content:"";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      // @include dotted-border('bottom', 10, 'D7CAAD');
      // @include dotted-border('bottom', 10, 'DFCA85');
      // @include dotted-border('bottom', 10, 'D1BD8B');
      // @include dotted-border('bottom', 10, 'ebcb7b');
      @include dotted-border('bottom', 10, 'dec586');
    }
  }

/**
 * 1. From 720px onwards, the cells get juxtaposed
 */
  @media only screen and (min-width: 720px) {
    display: inline-block;
    width: 50%;  // 1.
    padding-bottom: 0;
    margin-bottom: 0;
    
    &:first-of-type {
      padding-right: 30px;
      
      &:after {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: 1px;
        height: 100%;
        border: none;
        // @include dotted-border('right', 10, 'D7CAAD');
        // @include dotted-border('right', 10, 'DFCA85');
        // @include dotted-border('right', 10, 'D1BD8B');
        // @include dotted-border('right', 10, 'ebcb7b');
        @include dotted-border('right', 10, 'dec586');
      }

      .page-welcome &:after {
        right: 6px;
      }
    }
    
    /*
     *  1. If you do not float right right cell, rounding errors prevent 
     *  it from lining up with its neighbour.
     */
    &:last-of-type {
      float: right;  // 1.
      padding-left: 30px;
    }
  }
}


.headline--service {
  position: relative;
  z-index: 2;
  color: $color-white;
  @include fluid-type(font-size, 
    320px, 720px, 33px, 60px, 
           720px, 1200px, 36px, 60px);
  
  * {
    vertical-align: middle;
    display: inline-block;
  }
}


.byline--service {
  margin-bottom: 12px;
  line-height: 135%;
  @include fluid-type(font-size, 
    320px, 720px, 18px, 24px, 
           720px, 900px, 21px, 24px);
}



.icon--service {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin: 0 18px 0 -3px;
  border-radius: 50%;
  transition: box-shadow .3s;
  
  @include fluid-type(width height, 
    320px, 720px, 48px, 75px, 
           720px, 1200px, 48px, 75px);
           
  @include fluid-type(margin-right, 
    320px, 720px, 12px, 24px, 
           720px, 1200px, 15px, 24px);
  
  @media only screen and (min-width: 720px) {
    a:hover & {
      box-shadow: 0 0 0 6px $color-white !important;
    }
  }
}