/*---------------------------------------------------------------------------*\
    Modular Block: How it works
\*---------------------------------------------------------------------------*/


.block--howto {
  overflow: visible;
  background: $color-skyblue5;
  border-bottom: 12px solid $color-skyblue6;
  z-index: 1;

    @media only screen and (min-width:1200px) {
      &:after {
        z-index: -1;
        opacity: 1;
        background-size: 480px; // yeah!
        background-position: left 1vw bottom -140px;
      }
    }
  
  .block {
    overflow: visible;
    z-index: 1;
  }
  
  h1 {
    position: relative;
    color: $color-lavender;
    margin: -3px 0 36px;

    @media only screen and (min-width:1000px) {
      width: 50%;
      padding-bottom: 24px;
      @include dotted-border('bottom', 10, '8EBDD4', 0);

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: -3px;
        bottom: -73px;
        height: 61px;
        @include dotted-border('right', 10, '8EBDD4', 0);
      }
    }
  }
}