/*---------------------------------------------------------------------------*\
    Modular Block: Call to action
\*---------------------------------------------------------------------------*/


.block--cta  {
  border-top: 6px solid $color-white;
  background: $color-white;
  z-index: 10;
  padding-top: 24px;
  padding-bottom: 24px;
}


.headline--cta {
  position: relative;
  color: $color-logo1;
  line-height: 160%;
  margin: 0;
  @include fontweight(regular);
  @include fluid-type(font-size, 
    320px, 900px, 24px, 36px, 
           1100px, 1200px, 36px, 30px);

  &:before {
    content: "";
    display: table-cell;
    position: relative;
    width: 1px;
    height: 100px;
    vertical-align: middle;
    @include fluid-type(height,
      320px, 720px, 60px, 100px);
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    margin: -6px 0 0 -12px;
    background: url(../img/logo_icon3.svg) no-repeat;
    background-size: 100% 100%;
    @include fluid-type(width height,
      320px, 720px, 60px, 100px);
  }

  span {
    padding-left: 90px;
    vertical-align: middle;
    display: table-cell;
    position: relative;
  }
  
  
  a {
    color: $color-seagreen2;
    padding: 6px 0 2px;
    vertical-align: baseline;
    @include fontweight(semibold);
    
    &:hover {
      color: $color-rouge2;
    }
  }
}
  

// .headline--cta {
//   position: relative;
//   color: $color-logo1;
//   text-indent: 62px;
//   margin-bottom: 12px;
//   line-height: 160%;
//   @include fontweight(regular);
//   @include fluid-type(font-size, 
//     320px, 900px, 24px, 36px, 
//            1100px, 1200px, 36px, 30px);
  
//   &:before {
//     content: "";
//     display: inline-block;
//     position: absolute;
//     left: -10px;
//     top: -15px;
//     width: 90px;
//     height: 100px;
//     margin-right: 18px;
//     vertical-align: middle;
//     background: url(../img/logo_icon3.svg) no-repeat;
//     background-size: 70%;
//   }
  
//   a {
//     color: $color-seagreen2;
//     padding: 6px 0 2px;
//     vertical-align: baseline;
//     @include fontweight(semibold);
    
//     &:hover {
//       color: $color-rouge2;
//     }
//   }
  
  // @media only screen and (min-width: 420px) {
  //   text-indent: 0;
  //   padding-left: 90px;
    
  //   &:before {
  //     left: -3px;
  //     top: -6px;
  //     background-size: 80%;
  //   }
  // }

  // @media only screen and (min-width: 480px) {
  //   padding-left: 108px;
    
  //   &:before {
  //     left: -3px;
  //     background-size: 100%;
  //     width: 100px;
  //     height: 120px;
  //   }
  // }

  // @media only screen and (min-width: 700px) {
  //   padding-left: 144px;
    
  //   &:before {
  //     left: 12px;
  //     top: 0;
  //   }
  // }

  // @media only screen and (min-width: 800px) {

  //  &:before {
  //     top: 0;
  //     left: 9px;
  //     width: 110px;
  //     height: 130px;
  //   }
  // }


  // @media only screen and (min-width: 1000px) {
  //   padding-left: 96px;
   
  //   &:before {
  //     top: 6px;
  //     left: -12px;
  //     width: 100px;
  //     height: 120px;
  //   }
  // }

  // @media only screen and (min-width: 1180px) {
   
  //   &:before {
  //     top: -18px;
  //     left: -12px;
  //   }
  // }
// }
