/*---------------------------------------------------------------------------*\
    PAGE: Contact
\*---------------------------------------------------------------------------*/


.page-contact {
  background: $color-rouille5;
  background: $color-turq4;
  background: $color-greywalls2;  //  sandbeige
  background: $color-seagreen6;
}

.block--contactinfo {
  h1 {
    color: $color-rouille2;
    color: $color-turq0;
    color: $color-seagreen1;
  }
  
}

.cell--contactinfo {
  padding-bottom: 24px;
}


/*------------------------------------*\
  Instagram
\*------------------------------------*/

.block--instagram {
  background: #fff;
  background: $color-rouille1;
  background: $color-turq1;
  background: $color-seagreen1;
  padding: 0 !important;
}

.instagram-photos {
  list-style-type: none;
  margin-bottom: 0;
  
  li {
    display: block;
    float: left;
    width: calc(100% / 8);
    overflow: hidden;
    margin: 0;
    
    a {
      display: block;
    }
    
    img {
      width: 100%;
      max-height: 120px;
      object-fit: cover
    }
  }
}



/*------------------------------------*\
  Contactform
\*------------------------------------*/

.block--contactform {
  background: $color-rouille4;
  background: $color-turq3;
  background: $color-seagreen4;
  border-top: 12px solid #fff;
  border-bottom: 12px solid $color-rouille3;
  border-bottom: 12px solid $color-turq2;
  border-bottom: 12px solid $color-seagreen3;
  
  h2 {
    color: #fff;
    color: $color-rouille1;
    color: $color-turq1;
    color: $color-turq0;
    color: $color-seagreen1;
  }
}

