/*---------------------------------------------------------------------------*\
    Page welcome
\*---------------------------------------------------------------------------*/

/*------------------------------------*\
  BLOCK: Hero (similar to .stage)
\*------------------------------------*/

.hero {
	position: relative;
  z-index: 1;
  // padding-bottom: 37.79%; // original ratio of pano-hero1.jpg
  // height: 70vH;
  // max-height: 600px;
  margin: -24px 0 0;
}
  
  
.hero__text {
  position: absolute;
  bottom: 0;
  display: table-cell;
  vertical-align: bottom;
  max-width: 1200px;
  padding: 0 !important;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

.hero__title, 
.hero__subtitle {
  position: relative;
  z-index: 10;
  left: 0;
  font-size: 18px;
}

.hero__title {
	font-family: $font-regular;
	line-height: 120%;
	text-shadow: 1px 0 6px #000;
  padding-left: 24px;
  
  @media only screen and (min-width: 480px) {
    padding-left: 30px;
  }

  @media only screen and (min-width: 1200px) {
    padding-left: calc(((100vw - 100%) / 2) + 30px);
  }
}

.hero__subtitle {
  line-height: 130%;
	padding: 12px 24px 12px;
	margin-bottom: 0;
	// background: linear-gradient(to bottom, #2DBDCA, $color-logo0);
	background: rgba(61, 49, 50, 0.85);
	color: $color-lightblue;
	// mix-blend-mode: hard-light;
  
  @media only screen and (min-width: 420px) {
    font-size: 4.3vw;
  }

  @media only screen and (min-width: 480px) {
  	padding-left: 30px;
  }
  
  @media only screen and (min-width: 700px) {
    font-size: 30px;
  }

  @media only screen and (min-width: 720px) {
  	max-width: calc(((100vw - 100%) / 2) + 720px);
  	border-top-right-radius: 30px;
  }

  @media only screen and (min-width: 1200px) {
  	padding-left: calc(((100vw - 100%) / 2) + 30px);
  }
}


/*------------------------------------*\
  Hero Image & Fade
\*------------------------------------*/

.hero__bg  {
  position: relative;
  top: 0;
  width: 100%;
  height: 70vh;
  transition: all 0.3s ease-out;
  max-height: 300px;
  
  @media only screen and (min-width: 600px) { max-height: 400px; }
  @media only screen and (min-width: 900px) { max-height: 500px; }
  @media only screen and (min-width: 1200px) { max-height: 600px; }

	/*
	 *	1. For this to work in IE, we need to set the img as bgimg with msie.js
	 */
  video, img {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;  // 1.
    transition: all 0.3s ease-out;
    max-height: 300px;
    
    @media only screen and (min-width: 600px) { max-height: 400px; }
    @media only screen and (min-width: 900px) { max-height: 500px; }
    @media only screen and (min-width: 1200px) { max-height: 600px; }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(190deg, rgba(0, 0, 47, 0.6), rgba(54, 36, 36, 0) 30%, rgba(54, 36, 36, 0) 50%, #362424 94%);
    background: linear-gradient(190deg, rgba(54, 36, 36, 0) 15%, rgba(54, 36, 36, 0.33) 40%, #362424 100%);
    background: linear-gradient(190deg, rgba(19, 41, 121, 0.7), rgba(54, 36, 36, 0) 28%, rgba(54, 36, 36, 0) 50%, rgba(54, 36, 36, 0.33) 70%, #362424 100%);
    background: linear-gradient(190deg, rgba(18, 41, 121, 0.7), rgba(54, 36, 36, 0) 28%, rgba(54, 36, 36, 0) 50%, rgba(54, 36, 36, 0.33) 60%, rgba(54,36,36,0.9) 85%);
    background: linear-gradient(190deg, rgba(18, 41, 121, 0.7), rgba(54, 36, 36, 0) 28%, rgba(54, 36, 36, 0) 45%, rgba(54, 36, 36, 0.33) 59%, rgba(54, 36, 36, 0.8) 69%, #362424);
  }
}


/*------------------------------------*\
  BLOCK: Welcome
\*------------------------------------*/

.block--welcome {
  z-index: 1; // necessary for containing icon to appear
  padding-bottom: 36px;
  background: linear-gradient(to bottom, #CDE5F1 40%, $color-midblue 60%);
  background: linear-gradient(to bottom, #fff, #CDE5F1 50%, $color-midblue 70%);
  background: linear-gradient(to bottom, #CDE5F1 50%, #66C1D3 53%, #44538D);
  background: linear-gradient(to bottom, #CDE5F1, $color-midblue);
  background: linear-gradient(to bottom, #ffffff, #CDE5F1);
  background: linear-gradient(to bottom, #CDE5F1, #fff);
  background: linear-gradient(to bottom, #CDE5F1, #F4F8FA);
  background: linear-gradient(to bottom, #caeef2, #fff);
  background: linear-gradient(to bottom, $color-turq4, $color-turq5);
  border-bottom: 12px solid #fff;
  
  /*
	 *  Bonne Mère icon 
	 */
  &:after { 
    background-size: 460px;
    background-position: left 3vw bottom -40px;
  }

  p {
  	font-size: 18px;
		line-height: 160%;
    
    @media only screen and (min-width: 650px) { 
      font-size: 21px;
    }
  }

  p:last-of-type {
  	margin-bottom: 0;
  }

  h2 {
  	margin-top: 6px;
  }
}

/*------------------------------------*\
  Youtube Video in block--welcome
\*------------------------------------*/

.video-container {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  
  @media only screen and (min-width: 650px) { 
    float:right;
    width: -webkit-calc(50% - 36px);
    width: calc(50% - 36px);
    margin: 72px 0 36px 36px;
    margin: 54px 18px 48px 72px;
    margin: 42px 18px 36px 72px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -12px;
      top: -12px;
      right: -12px;
      bottom: -12px;
      border: 12px solid #FFF;
      border-radius: 6px;
      box-shadow: 1px 0 12px rgba(0,0,0,0.33);
      // @include boxshadow02(0.1);
      background: $color-warmsand2;
      background: $color-turq3;
    }

    &:after {
      content: "";
      display: block;
      width: 110%;
      position: absolute;
      left: -5%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      border: 12px solid #FEFEFE;
      border-radius: 6px;
      transform: rotate(-3deg);
      background: $color-turq2;
      z-index: -1;
      box-shadow: 1px 0 12px rgba(0,0,0,0.33);
      // @include boxshadow02(0.1);
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*------------------------------------*\
  ADAPTATION: .block--services
\*------------------------------------*/

.page-welcome {

  .block--services {
    border-bottom: 12px solid $color-warmsand1;

    &:after {
      background-size: 370px;
      background-position: right -8vw bottom -62px;
      pointer-events: none;
      
      @media only screen and (min-width: 1550px) {
        background-position: right -4vw bottom -62px;
      }
      
      @media only screen and (min-width: 1800px) {
        background-position: right 2vw bottom -62px;
      }

      @media only screen and (min-width: 1950px) {
        background-position: right 5vw bottom -62px;
      }
    }

    .cell--service {
      padding-bottom: 0;
      
      &:first-of-type {
        padding-bottom: 30px;
        margin-bottom: 24px;
      }

      @media only screen and (min-width:1100px) {
        padding-bottom: 0 !important;
      }
    }

    .headline--service {
      padding-top: 0;
      margin-bottom: 18px;
    	text-shadow: 0 2px 0 #fff;
  	}

  	.icon--service {
  		box-shadow: 0 2px 0 #fff;
		}
  }
}


/*------------------------------------*\
  ADAPTATION: .block--examples
\*------------------------------------*/

.page-welcome {

  .block--examples {
    // border-bottom: 12px solid #fff;
    
    @media only screen and (min-width:1200px) {
      &:before {
        opacity: .2;
        background-size: 420px; // yeah!
        background-position: left -40px bottom 60px;
      }
    }

    /*
     *  1. To make space for the .btn--scroll
     */
    h1 {
	    display: inline-block;
	    margin-bottom: 0;
      width: calc(100% - 66px); // 1.
      vertical-align: middle;
	  }

	  .card {
	    z-index: 2;
	    display: inline-block;
	    float: none;
	    white-space: normal;
	    vertical-align: top;
	    margin-right: 30px !important;
	    
	    @media only screen and (min-width:536px) {
	      margin-right: 24px !important;
	    }

	    &:last-of-type {
	      margin-right: 0 !important;
	      
	      @media only screen and (min-width:1200px) {
	        margin-right: 30px !important;
	      }
	    }
	  }
  }
}

/*------------------------------------*\
  ADAPTATION: .block--about
\*------------------------------------*/

.page-welcome {

  .timeline-row {
    padding-bottom: 0;
    
    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 18px !important;
  
      @media only screen and (min-width: 1000px) {
        margin-bottom: 0 !important;
      }
    }
  }

  .timeline-row__info {
    margin-bottom: 30px;
    padding: 0;
    
    &:after {
      top: calc(50% - 15px);
    }
    
    h2 {
      margin-bottom: 0;
      
      a {
        padding: 24px;
        display: block;
        
        &:hover {
          color: $color-logo1 !important;
        }
      }
    }

    p {
      display: none;
    }

    @media only screen and (min-width: 700px) {
      h2 a {
        line-height: 48px;
        padding: 34px;
      }
    }

    @media only screen and (min-width: 1000px) {
      margin-top: 0;
      min-height: 120px;

      h2 {
        font-size: 42px;
      }
    }
  }
}



/*------------------------------------*\
  ADAPTATION: .block--about
\*------------------------------------*/

.page-welcome {

  .block--about {
    z-index: 1; // necessary for containing icon to appear
    color: #fff;
    background: $color-midblue;  // greyblue
    background: $color-turq2;

    .block--headline {
      padding-top: 0;
      
      @media only screen and (max-width:1200px) {
        padding: 0 0 30px;
      }
    }

    .cell-image img {
    	border: 12px solid;
    }

    p	{
      font-size: 18px;
    	line-height: 30px;
			margin-bottom: 18px;
      
      @media only screen and (min-width: 650px) { 
        font-size: 21px;
        line-height: 36px;
      }
		}
    
    @media only screen and (min-width:1200px) {
			/*
			 *  Sardine icon
			 */
      &:after {
        opacity: .4;
        background-size: 320px; 
        background-position: right 10vw bottom 40px;
      }
    }
  }
}