/*---------------------------------------------------------------------------*\
    LIST PAGE: Examples
\*---------------------------------------------------------------------------*/


.page-examples {
  background: $color-lavender2;
  
  .block--examples {
    min-height: -webkit-calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    
    // > .block {
    //   padding: 36px 0 36px 0!important
    // }
  }

  .block--examples:after {
    opacity: .2;
    left: auto;
    right: 0;
    background-size: 380px;
    background-position: right 0 bottom 66px;
  }
}
