/*---------------------------------------------------------------------------*\
    Page welcome
\*---------------------------------------------------------------------------*/


/*------------------------------------*\
  Hero Image & Fade
\*------------------------------------*/

// .hero-bg  {

//   img + img {
    // -webkit-mask: -webkit-radial-gradient( center, closest-side, transparent 30%, black 80%);
    // -webkit-mask: radial-gradient( closest-side at center, transparent 50%, black 110%);
    // -webkit-filter: blur(5px);
    // mask: url('#mask-linear');
    // filter: url('#filtre2');
    
    // -webkit-mask: -webkit-linear-gradient(transparent 40%, black 70%);
    // -webkit-mask: linear-gradient(transparent 40%, black 70%);
    // -webkit-filter: blur(6px);
    // mask: url('#mask-linear');
    // filter: url('#filtre2');
  // }
// .filtre--l{
//   -webkit-mask: -webkit-linear-gradient(black, transparent 30%, black);
//   -webkit-mask: linear-gradient(black, transparent 30%, black);
//   -webkit-filter: blur(3px);
//   mask: url('#mask-linear');
//   filter: url('#filtre2');
// }
// .filtre:hover{
//    -webkit-mask: none;
//    -webkit-filter: none;
//    mask: none;
//    filter: none;
// }
  // }

  // .page-welcome & video,
  // .page-welcome & img {
  //   max-height: 450px;
  //   @media only screen and (min-width: 600px) { max-height: 550px; }
  //   @media only screen and (min-width: 900px) { max-height: 650px; } 
  // }



.block--pagenote {
  background: $color-red4;
  padding: 36px 0 12px;
  margin: -24px auto 24px;
  
  p {
    margin: 0;
  }
}


/*------------------------------------*\
  BLOCK: Hero (similar to .stage)
\*------------------------------------*/

.hero {
	// position: relative;
 //  z-index: 1;
  // padding-bottom: 37.79%; // original ratio of pano-hero1.jpg
  // height: 70vH;
  // max-height: 600px;
  // margin: -24px 0 0;
}
  
  
.hero__text {
  position: absolute;
  bottom: 0;
  display: table-cell;
  vertical-align: bottom;
  // max-width: 1200px;
  width: 100%;
  padding: 0 !important;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

.hero__title, 
.hero__subtitle {
  position: relative;
  z-index: 10;
  left: 0;
}

.hero__title {
	text-shadow: 1px 0 16px #000;
  padding-left: 24px;
  
  @media only screen and (min-width: 480px) {
    padding-left: 30px;
  }

  @media only screen and (min-width: 1200px) {
    padding-left: -webkit-calc(((100% - 1200px) / 2) + 30px);
    padding-left: calc(((100% - 1200px) / 2) + 30px);
  }
}

.hero__subtitle {
	padding: 12px 24px 12px;
	margin-bottom: 0;
	background: rgba(61, 49, 50, 0.85);
  color: $color-white;

  @media only screen and (min-width: 480px) {
  	padding-left: 30px;
  }

  @media only screen and (min-width: 720px) {
    width: 720px;
  	border-top-right-radius: 30px;
  }

  @media only screen and (min-width: 1200px) {
    width: -webkit-calc(((100% - 1200px) / 2) + 720px);
    width: calc(((100% - 1200px) / 2) + 720px);
    padding-left: -webkit-calc(((100% - 1200px) / 2) + 30px);
    padding-left: calc(((100% - 1200px) / 2) + 30px);
  }
}


/*------------------------------------*\
  Hero Image & Fade
\*------------------------------------*/

// .hero__img,
// .hero__img img {
  // transition: all 0.3s ease-in-out;
  
  // fallback for old browser that dont understand vh unit
  // @include fluid-type(height, 
  //   300px, 600px, 300px, 400px, 
  //          601px, 1200px, 401px, 550px);

  // height: 70vh !important;
  // @include fluid-type(max-height, 
  //   300px, 600px, 300px, 400px, 
  //          601px, 1200px, 400px, 600px);
// }


.hero__img  {
  position: relative;
  top: 0;
  // width: 100%;
  // height: 70vh;
  // transition: all 0.3s ease-out;
  // max-height: 300px;
  background: $color-seagreen5;
  


	/*
	 *	1. For this to work in IE, we need to set the img as bgimg with msie.js
	 */
  img {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 70vh;
    // object-fit: cover;  // 1.
    // transition: all 0.3s ease-out;
    // max-height: 300px;
    

  }

  /* 
   *  Foreground gradient, in order to enhance contrast with bottom left 
   *  hero__title
   */
  // &:before {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 1;
  //   opacity: .8;
  // //   background: linear-gradient(190deg, rgba(0, 0, 47, 0.6), rgba(54, 36, 36, 0) 30%, rgba(54, 36, 36, 0) 50%, #362424 94%);
  // //   background: linear-gradient(190deg, rgba(54, 36, 36, 0) 15%, rgba(54, 36, 36, 0.33) 40%, #362424 100%);
  // //   background: linear-gradient(190deg, rgba(19, 41, 121, 0.7), rgba(54, 36, 36, 0) 28%, rgba(54, 36, 36, 0) 50%, rgba(54, 36, 36, 0.33) 70%, #362424 100%);
  // //   background: linear-gradient(190deg, rgba(18, 41, 121, 0.7), rgba(54, 36, 36, 0) 28%, rgba(54, 36, 36, 0) 50%, rgba(54, 36, 36, 0.33) 60%, rgba(54,36,36,0.9) 85%);
  //   // background: linear-gradient(190deg, rgba(18, 41, 121, 0.7), rgba(54, 36, 36, 0) 28%, rgba(54, 36, 36, 0) 45%, rgba(54, 36, 36, 0.33) 59%, rgba(54, 36, 36, 0.8) 69%, #362424);
  // background: linear-gradient(190deg, rgba(55, 46, 37, 0) 55%, rgba(55, 46, 37, 0.33) 63%, #372E25 68%, #372E25 75%);
  //   mix-blend-mode: hard-light;
  // }
}


/*------------------------------------*\
  BLOCK: Welcome
\*------------------------------------*/

.block--welcome {
  z-index: 1; // necessary for containing icon to appear
  padding-bottom: 36px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color-seagreen5), color-stop(1, $color-seagreen6));
  background: -webkit-linear-gradient(top, $color-seagreen5, $color-seagreen6);
  background: linear-gradient(to bottom, $color-seagreen5, $color-seagreen6);
  border-bottom: 12px solid $color-white;
  
  /*
	 *  Bonne Mère icon 
	 */
  &:after { 
    background-size: 460px;
    background-position: left 3vw bottom -40px;
  }

  p:last-of-type {
  	margin-bottom: 0;
  }

  h2 {
  	margin-top: 6px;
  }
}

/*------------------------------------*\
  Youtube Video in block--welcome
\*------------------------------------*/

.video-container {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  
  @media only screen and (min-width: 720px) { 
    float:right;
    width: -webkit-calc(50% - 36px);
    width: calc(50% - 36px);
    margin: 18px 18px 36px 72px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -12px;
      top: -12px;
      right: -12px;
      bottom: -12px;
      border: 12px solid $color-white;
      border-radius: 6px;
      box-shadow: 1px 0 12px rgba(0,0,0,0.25);
      // @include boxshadow02(0.1);
      background: $color-seagreen5;
    }

    &:after {
      content: "";
      display: block;
      width: 110%;
      position: absolute;
      left: -5%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      border: 12px solid $color-seagreen6;
      border-radius: 6px;
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
      background: $color-seagreen4;
      z-index: -1;
      box-shadow: 1px 0 12px rgba(0,0,0,0.25);
      // @include boxshadow02(0.1);
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*------------------------------------*\
  ADAPTATION: .block--services
\*------------------------------------*/

.page-welcome {

  .block--services {
    border-bottom: 12px solid $color-sable4;

    &:after {
      background-size: 370px;
      background-position: right -8vw bottom -62px;
      pointer-events: none;
      
      @media only screen and (min-width: 1550px) {
        background-position: right -4vw bottom -62px;
      }
      
      @media only screen and (min-width: 1800px) {
        background-position: right 2vw bottom -62px;
      }

      @media only screen and (min-width: 1950px) {
        background-position: right 5vw bottom -62px;
      }
    }

    .cell--service {
      padding-bottom: 0;
      margin-bottom: 0;
      
      &:first-of-type {
        padding-bottom: 30px;
        margin-bottom: 24px;
        
        @media only screen and (min-width:720px) {
          margin-bottom: 0;
          padding-bottom: 0 !important;
        }
      }

      // @media only screen and (min-width:1100px) {
      //   padding-bottom: 0 !important;
      // }
    }

    .headline--service {
      display: inline-block;
      padding-top: 0;
      margin-top: -6px;
      margin-bottom: 18px;
    	text-shadow: 0 2px 0 $color-white;
  	}

  	.icon--service {
  		box-shadow: 0 2px 0 $color-white;
		}
  }
}


/*------------------------------------*\
  ADAPTATION: .block--examples
\*------------------------------------*/

.page-welcome {

  .block--examples {
    // border-bottom: 12px solid $color-white;
    margin: 0 0 -36px;
    padding: 0;
    
    > .block {
      padding: 30px 24px 30px 30px !important;
      
      @media only screen and (min-width:1200px) {
        padding: 36px 0 36px 0 !important;
      }
    }
    
    @media only screen and (min-width:1200px) {
      &:before {
        opacity: 0;
        background-size: 420px; // yeah!
        background-position: left -40px bottom 60px;
      }
      &:after {
        opacity: 0;
      }
    }

    @media only screen and (min-width:1700px) {
      &:before {
        opacity: .2;
      }
      &:after {
        opacity: .2;
      }
    }

    // .block--scroll {
      
    //   @media only screen and (min-width:600px) {
    //     padding-bottom: 12px;
    //   }
    //   @media only screen and (min-width:800px) {
    //     padding-bottom: 18px;
    //   }
    //   @media only screen and (min-width:1000px) {
    //     padding-bottom: 24px;
    //   }
    //   @media only screen and (min-width:1200px) {
    //     padding-bottom: 36px;
    //   }
    // }

    /*
     *  1. To make space for the .btn--scroll
     */
    h1 {
	    display: inline-block;
	    margin-bottom: 0;
      width: -webkit-calc(100% - 66px); // 1.
      width: calc(100% - 66px); // 1.
      vertical-align: middle;
	  }
  }
}

/*------------------------------------*\
  ADAPTATION: .block--howto
\*------------------------------------*/

.page-welcome {

  .timeline-row {
    // padding-bottom: 0;
    
    &:last-of-type {
      // padding-bottom: 0;
      // margin-bottom: 18px !important;
  
      @media only screen and (min-width: 1000px) {
        // margin-bottom: 0 !important;
      }
    }
  }

  .timeline-row__info {
    // margin-bottom: 30px;
    padding: 0;
    
    // &:after {
    //   top: calc(50% - 15px);
    // }
    
    h2 {
      margin-bottom: 0;
      
      a {
        padding: 24px 24px 24px 42px;
        display: block;
        
        &:hover {
          color: $color-logo1 !important;
        }
      }
    }

    p {
      display: none;
    }

    @media only screen and (min-width: 420px) {
      h2 a {
        padding: 24px;
      }
    }

    @media only screen and (min-width: 700px) {
      h2 a {
        // line-height: 48px;
        padding: 36px;
      }
    }

    @media only screen and (min-width: 1000px) {
      // margin-top: 0;
      min-height: 120px;

      h2 {
        // font-size: 42px;
      }
    }
  }
}



/*------------------------------------*\
  ADAPTATION: .block--about
\*------------------------------------*/

.page-welcome {

  .block--about {
    z-index: 1; // necessary for containing icon to appear
    color: $color-white;
    background: $color-seagreen3;
    

    .block--headline {
      padding-top: 0;
      
      @media only screen and (max-width:1200px) {
        padding: 0 0 30px;
      }
    }

    .cell-image {
      padding-bottom: 24px;
      
      @media only screen and (min-width: 720px) {
        padding-right: 48px;
      }

      @media only screen and (min-width: 860px) {
        padding-right: 54px;
      }
      
      @media only screen and (min-width: 1000px) {
        padding-right: 60px;
      } 
    }

    .cell-image__frame--border {

      @media only screen and (min-width:720px) {
        margin: 9px;
        box-shadow: 1px 0 9px rgba(0,0,0,0.33);
      }
      
      @media only screen and (min-width:1000px) {
          margin: 18px;
          // @include boxshadow02(0.1);
          // background: $color-seagreen4;

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 90%;
          height: 91%;
          left: 2%;
          top: 4%;
          border: 12px solid $color-seagreen4;
          border-radius: 6px;
          -ms-transform: rotate(-3deg);
          -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
          background: $color-seagreen3;
          z-index: -1;
          box-shadow: 1px 0 9px rgba(0,0,0,0.33);
          // @include boxshadow02(0.1);
        }
      }
      
    }

    p	{
			margin-bottom: 24px;
      
      // @media only screen and (min-width: 650px) { 
      //   // font-size: 21px;
      //   // line-height: 36px;
      // }
		}

    a {
      color: $color-seagreen1;
      color: #004A52; // even darker
    }
    
    @media only screen and (min-width: 800px) {
      padding-bottom: 60px;
    }

    @media only screen and (min-width:1200px) {
      padding-bottom: 72px;
			/*
			 *  Sardine icon
			 */
      &:after {
        opacity: .4;
        background-size: 320px; 
        background-position: right 8vw bottom 0;
      }
    }
  }
}