/*---------------------------------------------------------------------------*\
    PAGE: Contact
\*---------------------------------------------------------------------------*/


.page-contact {
  background: $color-white;
}

.block--contact {
  h1 {
    color: $color-seagreen2;
  }
}

.cell--contactinfo {
  padding-bottom: 24px;
}


/*------------------------------------*\
  Instagram
\*------------------------------------*/

.block--instagram {
  background: $color-seagreen1;
  padding: 0 !important;
}

.instagram-photos {
  list-style-type: none;
  margin-bottom: 0;
  
  li {
    display: block;
    float: left;
    width: -webkit-calc(99.999% / 8);
    width: calc(99.999% / 8);  // necessary for IE 9+
    overflow: hidden;
    margin: 0;
    
    a {
      display: block;
    }
    
    img {
      width: 100%;
      max-height: 120px;
      object-fit: cover
    }
  }
}



/*------------------------------------*\
  Contactform
\*------------------------------------*/

/**
 *  1. Additions color, only used in this element,
 *  to mark shadow color (also used in related icon "Pastis")
 */
.block--contactform {
  position: relative;
  z-index: 1;
  background: $color-seagreen3;
  border-top: 12px solid $color-white;
  border-bottom: 12px solid #37949C;  // 1.
  
  h1, h2 {
    color: $color-white;
  }

  &:after {
    z-index: 1;
    left: auto;
    right: 1;
    background-size: 400px;
    background-position: right 0 bottom -50px;
  }
}

