/*---------------------------------------------------------------------------*\
    PAGE: Example
\*---------------------------------------------------------------------------*/


.page-example {
  background: $color-greywalls2;
  
  .stage {
  	overflow: hidden;
  }
}
