/*---------------------------------------------------------------------------*\
    PAGE: About
\*---------------------------------------------------------------------------*/


.page-about {
  background: $color-rouille5;
  
  h1 {
    color: $color-rouille2;
  }
}


/*------------------------------------*\
  Partner cards (on About page)
\*------------------------------------*/

.block--partner {
  padding-bottom: 12px;
  border-top: 12px solid $color-white;
  border-bottom: 12px solid $color-rouille2;
  background: $color-rouille3;
  
  h1 {
    color: $color-white;
  }
}

.card--partner {
  background: $color-rouille6;

  @media only screen and (min-width: 536px) {
    min-height: 360px;
  }

  @media only screen and (min-width: 536px) {
    min-height: 340px;
  }

  img {
    height: 200px;
    min-height: 200px;
  }
}

/*------------------------------------*\
  Press archives
\*------------------------------------*/

.block--articles {
  background: $color-white;
}

.press-article {
  clear: both;
  border-top: 2px solid $color-grey3;
  padding: 30px 0;

  h3 a {
    padding-right: 24px;
  }

  .js-hide-info { // button
    margin-bottom: 24px;
  }

  .cell img {
    max-height: 150px;
  }
}

.press-article__img {
  float: right;
  text-align: center;
  padding: 0 0 0 18px;
  width: 40%;
  
  @media only screen and (min-width: 800px) {
    width: inherit;
    padding: 0 24px;
  }
}

.press-article__date {
  display: inline-block;
  white-space: nowrap;
  font-size: 18px;
  color: $color-grey1;
}