/*---------------------------------------------------------------------------*\
    PAGE: Pricing
\*---------------------------------------------------------------------------*/


.page-pricing {
  background: $color-skyblue5;
  
  h1 {
    color: $color-skyblue3;
  }
}


.block--pricing {
  margin-bottom: 0;
  border-bottom: 12px solid $color-skyblue6;

  @media only screen and (min-width: 800px) {
    padding-bottom: 42px;
  }
}

.cell-pricing {
  margin: 0 0 18px;
  padding: 0 !important;
  border: none;
  border-color: $color-skyblue5;
  border-style: solid;

  @media only screen and (min-width: 480px) {
    margin: 0 0 24px;
  }

  @media only screen and (min-width: 800px) {
    border-right-width: 6px;

    &:last-of-type {
      border-left-width: 6px;
      border-right: 0;
    }
  }

  @media only screen and (min-width: 1000px) {
    border-right-width: 12px;

    &:last-of-type {
      border-left-width: 12px;
      border-right: 0;
    }
  }

  @media only screen and (min-width: 1280px) {
    border-right-width: 18px;

    &:last-of-type {
      border-left-width: 18px;
      border-right: 0;
    }
  }

  .cell-inner {
    background: $color-white;
    border-radius: 6px;
    overflow: hidden;
    @include material-card1();
    padding-bottom: 0;
    
    @media only screen and (min-width: 800px) {
      padding: 24px 30px 0 ;
    }
  }

  .headline--service {
    padding: 0 0 12px;
    margin-left: -6px;
  }

  .byline--service {
    position: relative;
    left: -24px;
    top: -12px;
    width: calc(100% + 48px);
    height: 100%;
    color: $color-white !important;
    padding: 24px;
    margin: 0;
    
    @media only screen and (min-width: 800px) {
      left: -30px;
      width: calc(100% + 60px);
    }
  }

  small {
    display: inline-block;
    // line-height: 21px;
    padding: 24px 24px 0 24px;
    color: $color-skyblue3;
  }
}


.checklist {
  margin-bottom: 0;
  list-style-type: none;

  li {
    color: $color-logo1;
    padding: 6px 0;
    margin: 0;
  
    &.list-total {
      margin-top: -11px;
      font-size: 48px;
      list-style-type: none;
      padding: 18px 0;
      border-top: 2px solid $color-greywalls0;
      line-height: 62px;
      height: 92px;
      margin: 12px 0 0;
      font-weight: normal;
      @include fontweight(regular);
      
      // @media only screen and (min-width: 800px) {
      //   padding: 12px 18px 12px 27px;
      //   margin: 12px -30px 0;
      // }
      
      .btn {
        vertical-align: middle;
        float: right;
        line-height: 28px;
      }
    }
  }

  &.color-rouge3 [class*="fa-"]:before  {
    color: $color-rouge3;
  }

  &.color-rouille3 [class*="fa-"]:before  {
    color: $color-rouille3;
  }
}