/*---------------------------------------------------------------------------*\
    PAGE: How it works
\*---------------------------------------------------------------------------*/


.page-how-it-works {
  background: $color-lightblue;
  
  .block--howto {
  	margin-top: -24px;
  	padding-top: 60px;
  }
}

