/*---------------------------------------------------------------------------*\
    PAGE: Pricing
\*---------------------------------------------------------------------------*/


.page-pricing {
  background: $color-greywalls1;  // sand;
  background: $color-greywalls2;  //  sandbeige
  background: $color-skyblue5;
  
  h1 {
    color: $color-lavender2;
  }
}


.block--pricing {
  margin-bottom: 0;

  @media only screen and (min-width: 800px) {
    padding-bottom: 42px;
  }
}

.cell-pricing {

  .cell-inner {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    
    @media only screen and (min-width: 800px) {
      padding: 24px 30px 0;
    }
  }

  // border-bottom: 12px solid $color-skyblue5;
  // border-bottom: 12px solid $color-greywalls2;
  margin: 0 0 18px;
  
  // &:last-of-type {
  //   border-bottom: 0;    
  // }

  @media only screen and (min-width: 480px) {
    margin: 0 0 24px;
  }

  @media only screen and (min-width: 800px) {
    border-bottom: 0;
    border-right: 12px solid $color-skyblue5;
    // border-right: 12px solid $color-greywalls2;

    &:last-of-type {
      border-right: 0;
      border-left: 12px solid $color-skyblue5;
      // border-left: 12px solid $color-greywalls2;
    }
  }

  @media only screen and (min-width: 1000px) {
    border-right: 18px solid $color-skyblue5;
    // border-right: 18px solid $color-greywalls2;

    &:last-of-type {
      border-left: 18px solid $color-skyblue5;
      // border-left: 12px solid $color-greywalls2;
    }
  }

  .headline--service {
    padding: 0 0 12px;
  }

  .byline--service {
    position: relative;
    left: -24px;
    top: -12px;
    width: calc(100% + 48px);
    height: 100%;
    color: #fff !important;
    padding: 24px;
    margin: 0;
    
    @media only screen and (min-width: 800px) {
      left: -30px;
      width: calc(100% + 60px);
    }
  }

  small {
    display: inline-block;
    line-height: 21px;
    padding: 0 24px 0 0;
  }
}


.checklist {
  margin-bottom: 0;

  li {
    // color: #444;
    color: $color-logo1;
    line-height: 27px;
    padding: 6px 0;
    margin: 0;
    // border-bottom: 2px solid $color-greywalls2;
  
    &.list-total {
      margin-top: -11px;
      font-family: $font-regular;
      font-weight: normal;
      font-size: 48px;
      list-style-type: none;
      padding: 12px 18px 12px 27px;
      border-top: 2px solid $color-greywalls0;
      // border-top-color: $color-greywalls0;
      // border-top-style: solid;
      // border-top-width: 2px;
      // border-bottom-color: $color-greywalls0;
      // border-bottom-style: double;
      // border-bottom-width: 6px;
      // background: $color-greywalls3;
      line-height: 62px;
      height: 86px;
      margin: 12px 0 0;
      
      // @media only screen and (min-width: 800px) {
      //   padding: 12px 18px 12px 27px;
      //   margin: 12px -30px 0;
      // }
      
      .btn {
        vertical-align: middle;
        float: right;
        line-height: 28px;
      }
    }
  }

  &.color-rouge3 .fa:before {
    color: $color-rouge3;
  }

  &.color-rouille3 .fa:before {
    color: $color-rouille3;
  }
}