/*---------------------------------------------------------------------------*\
    PAGE: About
\*---------------------------------------------------------------------------*/


.page-about {
  background: #87A6B0; // bluegrey
  background: $color-greywalls1;  // sand;
  background: $color-greywalls2;  //  sandbeige
  // background: $color-turq4;
  // background: $color-rouge5;
  background: $color-rouille5;
  background: #fff;
  
  h1 {
    color: $color-logo0;
    color: $color-turq0;
    color: $color-rouge1;
    color: $color-rouille2;
  }
}


/*------------------------------------*\
  Partner cards (on About page)
\*------------------------------------*/

.block--partner {
  border-top: 12px solid #fff;
  background: $color-turq2;
  background: $color-rouge2;
  background: $color-rouille3;
  
  h1 {
    color: $color-white;
  }
}

.card--partner {
  background: $color-rouge5;
  background: $color-rouille6;

  @media only screen and (min-width: 536px) {
    min-height: 360px;
  }

  @media only screen and (min-width: 536px) {
    min-height: 340px;
  }

  img {
    height: 200px;
    min-height: 200px;
  }
}