/*---------------------------------------------------------------------------*\
    PAGE: Contact
\*---------------------------------------------------------------------------*/


.page-contact {
  background: $color-salmon4;
}


/*------------------------------------*\
  Map integration
\*------------------------------------*/


.map {
  max-width: 100%;
  height: 400px;
  margin: 0 0 30px;
}
