//	#########################################################################
// PRODUCTPAGE
// #########################################################################

.productpage .blurb {
  @media only screen and (min-width: $break-tablet-small){
    width: 100%;
    // margin-bottom: -18px;
  }

  hr	{
    // clear: both;
    // width: 100%;
    //padding: 6px 0 0;
    border: 0;
    border-bottom: 1px transparent #fff;

    // @media only screen and (min-width: $break-tablet-small) {
    //  width: 62%;			
    // }
  }

  h2	{
    @media only screen and (min-width: $break-tablet-small) {
      width: 61%;
    }
  }

  h3	{
    @media only screen and (min-width: $break-tablet-small) {
      width: 61%;
    }
  }

  p {
    @media only screen and (min-width: $break-tablet-small) {
      width: 61%;			
    }
  }
}

.productpage .page-body .part:first-child  .part-title:first-child   {
  // margin-top:-6px;
}


//	#########################################################################
// INFOPAGE
// #########################################################################


body.infopage {
  background-color: #3a3a3a;
}

.infopage {

  @media only screen and (min-width: $break-tablet-mini) {

    .page-sidebar,
    .page-sidebar > .pane {	// DOESNT WORK on ie 6
      border-top-right-radius: 9px;
    }
  }

  @media only screen and (min-width: $break-tablet-small) {

    & {
      background: url(/assets/img/ui/low_contrast_linen.png) 50% 0 repeat;
    }

    .page-sidebar {
      float: right;
      position: absolute;	// to push sidebar up to align with page
      right: 0;
    }

    .toc-panel ~ .page-sidebar {
      position: relative;		// to let sidebar appear after the toc-listing - only on pages with toc-panel
    }
  }
}

//	#########################################################################
// FULL WIDTH AGB-Page
// #########################################################################


.list-agb {
  list-style: decimal;
  list-style-position: outside;
  padding-left:20px;
  max-width:650px;
  
  li  {
    position: relative;
    color:#666;
    padding-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
  }
}

.list-within  {
  padding-top:12px;
  list-style: lower-latin; 
}

//	#########################################################################
// MATERIAL LIST in SIDEBAR
// #########################################################################

.list-materials a {
  color:$color-midred;
  cursor:help;
  
  &:hover {
    color: $color-purered; 
  }
}


//	#########################################################################
// .pane FRESH
// #########################################################################

.fresh  {
 
  .pane-title  {
    color: $color-green;
  }
  
}


//	#########################################################################
// FRISCH AUS DER WERKSTATT
// #########################################################################

.werkstatt  .blurb p  {
  @media only screen and (min-width: $break-tablet-small) {
    width:100%; 
  }
  @media only screen and (min-width: $break-tablet-regular) {
    width:50%; 
    width: calc(55% - 30px);
  }
}

.werkstatt  .blurb h2  {
  width:100% !important;
}

.stage-headline {
  position: relative;  
  z-index:200;
  min-height:78px;
  margin:0;
  padding-top:24px;
  padding-bottom: 24px;
  background: $color-midgreen;
  
  @media only screen and (min-width: $break-phone-landscape) {
    position: absolute;
    height:84px;
    top:-78px;  
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  @media only screen and (min-width: $break-tablet-mini) {
    top:-84px;  
  }
}

.workshop  {
  font-size:30px;
  line-height:30px;
  color:#fff;
  
  @media only screen and (min-width: $break-phone-landscape) {
    color:$color-lightgreen;
    font-size:36px;
    line-height:36px;
    @include text-shadow_b26(.5);
  }
  
  @media only screen and (min-width: $break-tablet-mini) {
    font-size:42px;
    line-height:40px; 
  }
  
  @media only screen and (min-width: $break-tablet-small) {
    font-size:48px;
    line-height:42px; 
  }
}

.fresh-title  {
  display: block;
  font-size:30px;
  line-height:36px;
  color:$color-green;
  margin-bottom:30px;
  overflow:hidden;
}

.fresh-price  {
  font-weight: 700;
	color:$color-green;
}

.model-bar  {
  width:100%;
  border-top: 2px solid #ddd;
  padding:0;
  
  @media only screen and (min-width: $break-tablet-regular) {
    width: 50%;
    width: calc(55% - 30px);
  }
}

.model-bar  {
  .model-row  {
    border-bottom:0;
    padding:9px 0;
  }
  .model-row + .model-row  {
    border-top: 2px solid #ddd;
  }
  
  .shoplink {
    display: inline-block;
    float: none;
  }
  
  p+p {
   margin:0; 
  }
}


.page + .page {
  //border-top:2px solid #ddd;
  
  @media only screen and (min-width: $break-tablet-large) {
    margin-top:36px;
  }
}

.werkstatt .page  {
  
  @media only screen and (min-width: $break-tablet-large) {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; 
  }
}

// getting the last .page on the page :)
.page:nth-last-child(2) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; 
}