/*---------------------------------------------------------------------------*\
    LIST PAGE: Examples
\*---------------------------------------------------------------------------*/


.page-examples {
  background: $color-lavender2;
  
  .block--example {
    min-height: 100vh;
  }

  .block--examples:after {
    opacity: .2;
    left: auto;
    right: 0;
    background-size: 380px;
    background-position: right 0 bottom 66px;
  }

  h1 {
    color: $color-lavender5;
  }

  .cell--intro {
    position: relative;
    z-index: 1;
    color: $color-lavender5;
    padding: 18px 24px;
    margin-bottom: 30px;
    background: $color-lavender3;
    
    &.tt-olivier:after {
      display: none;
      content: "";
      position: absolute;
      z-index: -1;
      width: 25%;
      height: 100%;
      right: 0;
      top: 0;
      opacity: .25;
      background-size: 100%;
        background-position: right 0 top 50%;
      background-repeat: no-repeat;
      pointer-events: none;
      mix-blend-mode: overlay;
    }
    
    @media only screen and (min-width: 800px) {
      padding-right: 25%;

      &.tt-olivier:after {
        display: block;
      }
    }
  }

  .card p {
    // color: $color-lavender2;
  }
}
