//	#########################################################################
// SLIDESHOW - ul with .stagebanner
// #########################################################################

.slideshow	{
  position: relative;
  width: 100%;
  min-height: 120px;
  overflow: hidden;

  li	{
    position: relative;
    list-style: none;
    display: none;

    @media only screen and (min-width: 1024px) {
      // Setting max-height of the stagebanners to initially 0
      display: block;
      max-height: 0;
    }
  }

  img	{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

// targetting the "input type=radio"-buttons atop the stage (used as anchors, to set active stagebanner)
.slideshowbut	{
  visibility: hidden;
  position: absolute;
  left:-999em;
  top:-999em;
}


//	=========================================================================
// Slidecontrol - ul with label, triggering hidden radio-buttons
// =========================================================================

.slidecontrol	{
  position: relative;
  padding-top:0;
  min-height: 48px;
  padding-right:12px;


  @media only screen and (min-width: $break-tablet-small) {

  }

  li	{
    display: inline-block;
    float:right;
    list-style: none;
    width: 48px;
    height:48px;

  }

  .indicator	{
    display: block;
    position: absolute;
    z-index: 300;
    top: 30px;
    right: 18px;
    width: 0; 
    height: 0px; 
    border-left: 18px solid transparent;  // left arrow slant
    border-right: 18px solid transparent; // right arrow slant
    border-bottom: 18px solid #fafafa; // bottom, add background color here
    font-size: 0px;
    line-height: 0px;
    margin-right: 144px;	    
    @include transition-property(margin-right);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
  }

  label	{
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 200;
    display: block;
    margin: 8px;
    width: 30px;
    height: 30px;
    background: #eeeeee;
    @include background(linear-gradient(#fff, #eee 25%, #ddd));
    border-radius: 15px;	// border-radius 50% seems to be not working in android browser 2.3 (on sony xperia)
    @include box-shadow(rgba(0,0,0,.5) 0 1px 6px);
  }

  label:hover	{
    background:#fff;
  }

  .slidetitle	{
    display:none;
    opacity:0;
    position: absolute;
    color: #fff;
    //@include box-sizing(border-box);	// necessary to target firefox!
    padding:15px 24px 0;
    margin-bottom:-12px;
    font-size: 30px;
    line-height: 38px;
    bottom:0px;
    left:0;
    width: 100%;
    background: $color-blue;
    @include border-top-left-radius(9px);
    // @include box-shadow(rgba(0,0,0,.75) 0 1px 12px);
    // @include background(linear-gradient($color-blue, $color-blue 50%, $color-darkblue));
    @include transition-property(opacity, padding-bottom);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);

    @media only screen and (min-width: $break-tablet-regular) {
      display: block;   
    }

    @media only screen and (min-width: $break-tablet-large) {
      @include border-top-right-radius(9px);
    }

    &:before {	
      display: block;
      position: absolute;
      content:" ";
      padding-left:12px;
      top: 30px;
      left: -29px;
      width: 0; 
      height: 0; 
      border-top: 18px solid transparent;  // left arrow slant
      border-bottom: 18px solid transparent; // right arrow slant
      border-right: 18px solid $color-blue; // bottom, add background color here
      font-size: 0px;
      line-height: 0;
      margin-left: 0;
    }
  }
}


//	=========================================================================
// Slideshow-States
// =========================================================================

//	Hide all stagebanners initially
#sb01 ~ .stage #sbpic01,
#sb02 ~ .stage #sbpic02,
#sb03 ~ .stage #sbpic03,
#sb04 ~ .stage #sbpic04	{
  opacity:0;
  @include transition-property(opacity);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-out);
}

//	Display each banner after click on label, targetting hidden radiobutton "sbxx"
// DOESNT WORK in IE 6-8
#sb01:checked ~ .stage #sbpic01,
#sb02:checked ~ .stage #sbpic02,
#sb03:checked ~ .stage #sbpic03,
#sb04:checked ~ .stage #sbpic04	{
  display: block;
  opacity: 1;

  @media only screen and (min-width: 1024px) {
    max-height: 600px;
    // because of this max-height declaration, one can see a vertical transition of the y-position of .page while resizing the browserwindow
  }
}

//	Color current label after click
#sb01:checked ~ .wrapper #sbbut01 label,
#sb02:checked ~ .wrapper #sbbut02 label,
#sb03:checked ~ .wrapper #sbbut03 label,
#sb04:checked ~ .wrapper #sbbut04 label	{
  background:$color-blue;
  @include box-shadow(rgba(0,0,0,.5) 0 1px 3px inset);
  border: 0;	// important for ie9, otherwise shows an ugly grey border
}

//	Color current label after click
#sb01:checked ~ .wrapper #sbbut01 .slidetitle,
#sb02:checked ~ .wrapper #sbbut02 .slidetitle,
#sb03:checked ~ .wrapper #sbbut03 .slidetitle,
#sb04:checked ~ .wrapper #sbbut04 .slidetitle	{
  opacity:.95;
  padding-bottom:72px;
}

//	Move indictor below current label
#sb01:checked ~ .wrapper .indicator{margin-right:0;}
#sb02:checked ~ .wrapper .indicator{margin-right:48px;}
#sb03:checked ~ .wrapper .indicator{margin-right:96px;}
#sb04:checked ~ .wrapper .indicator{margin-right:144px;}


