/*---------------------------------------------------------------------------*\
    Stage : on page-service, page-example
\*---------------------------------------------------------------------------*/

.stage,
.stage__img img {
  // height: 70vH;
  // max-height: 300px;
  transition: all 0.3s ease-in-out;
  
  @include fluid-type(height, 
    300px, 600px, 300px, 400px, 
           601px, 1200px, 400px, 550px);
  
  // @media only screen and (min-width: 600px) { max-height: 400px; }
  // @media only screen and (min-width: 900px) { max-height: 500px; }
  // @media only screen and (min-width: 1200px) { max-height: 600px; }
}

.stage {
  position: relative;
  // height: 70vH;
  // max-height: 300px;
  margin: -24px auto 0;
  // transition: all 0.3s ease-in-out;
  

  /*
   *  Headline inside stage
   *  1. Limiting its width to the block content width below
   */
  h1 {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 30px;
    width: 85%; // Fallback
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    max-width: 1200px;
    color: $color-white;
    margin: 0 auto;
    text-shadow: 1px 0 6px #000;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
    
    @media only screen and (min-width: 1200px) { 
      width: 1140px;  /* 1. */
    }
  }

  // &:after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
    // background: linear-gradient(190deg, rgba(0, 0, 47, 0.6), rgba(54, 36, 36, 0) 30%, rgba(54, 36, 36, 0) 50%, #362424 94%);
    // background: linear-gradient(190deg, rgba(56,34,34,0) 0%,rgba(56,34,34,0) 50%,rgba(56,34,34,0.75) 90%);
    
    // background: linear-gradient(190deg, rgba(33, 92, 158, 0.54), rgba(46, 34, 34, 0) 30%, rgba(46, 34, 34, 0) 67%, rgba(46, 34, 34, 0.9) 90%);
    // mix-blend-mode: hard-light;
  // }
}

.stage__img {
  img {
    width: 100%;
    // height: 70vH;
    // max-height: 300px;
    object-fit: cover;       
    object-position: center; 
    // transition: all 0.3s ease-in-out;
    // @media only screen and (min-width: 600px) { max-height: 400px; }
    // @media only screen and (min-width: 900px) { max-height: 500px; }
    // @media only screen and (min-width: 1200px) { max-height: 600px; }
  }

  img.top {
    object-position: top;   // ATTENTION: this isn't supported in IE nor Sefari
  }
  img.bottom {
    object-position: bottom;  // SAME PROBLEM
  }
}


.stage__badge {
  position: absolute;
  z-index: 10;
  width: 200px;
  right: -60px;
  bottom: 18px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 4px 0 3px;
  background: $color-seagreen2;
  // box-shadow: 2px 2px 0 rgba(0,0,0,.3);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include fontweight(semibold);
  
  &:before {
    content: attr(data-exampletype);
  }
  
  &[data-exampletype="Lieu"],
  &[data-exampletype="Place"] {
    background: $color-blue1;
  }

  &[data-exampletype="Circuit"],
  &[data-exampletype="Tour"] {
    background: $color-green1;
  }
}