//	#########################################################################
//	TYPOGRAPHY
//	#########################################################################

/*---------------------------------------------------------------------------*\
    Font declarations
\*---------------------------------------------------------------------------*/

.font-light,
.font-regular,
.font-semibold,
.font-bold,
.font-heavy {
  font-family: Arial, sans-serif;
}

.fonts-loaded {
  .font-light { 
    font-family: Linotte-Light;
    font-weight: 400;
    font-style: normal;
  }

  .font-regular { 
    font-family: Linotte-Regular;
    font-weight: 400;
    font-style: normal;
  }

  .font-semibold { 
    font-family: Linotte-SemiBold;
    font-weight: 400;
    font-style: normal;
  }


  .font-bold { 
    font-family: Linotte-Bold;
    font-weight: 400;
    font-style: normal;
  }

  .font-heavy { 
    font-family: Linotte-Heavy;
    font-weight: 400;
    font-style: normal;
  }
}


body {
  font-size: 18px;
  line-height: 27px;
  color: $color-logo1;
  @include fontweight(light);
}


::-moz-selection { background: $color-seagreen2; color: $color-white; }
::selection { background: $color-seagreen2; color: $color-white; }

p {
  margin: 0 0 30px; 
}

a {
  color: $color-logo1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4,
.header {
  a:hover,
  a:active {
    text-decoration: none;
  }
}

b,
strong {
  @include fontweight(semibold);
  font-weight: bold;
  
  .fonts-loaded & {
    font-weight: normal;
    font-style: normal;
  }
}

ul,
ol {
  margin: 0 0 30px;
  padding: 0;
  list-style-position: inside;
}

li  {
  margin: 0 0 9px;
}


//	=========================================================================
//	Headlines
//	=========================================================================

h1, h2, h3, h4, h5, h6	{
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin:0;
  margin:0 0 24px;
  @include fontweight(regular);
}


//  =========================================================================
//  Font Awesome implementation
//  =========================================================================

*.fa {
  display: block;
  font-size: inherit;
  @include fontweight(regular);
}

[class*="fa-"]:before {
  display: inline-block;
  padding-right: 0.5em; 
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial;
  opacity: 0;
  
  .fonts-loaded & {
    opacity: 1;
    font-family: FontAwesome;
  }
}


// h1, h1.fa	{
//   // font-size: 10vW; // = 32px in 320px, 64px in 640px, 96px in 960px, 
  
//   font-size: 36px;
//   line-height: 42px;
  
//   @media only screen and (min-width:480px) {
//     font-size: 42px;
//     line-height: 48px;
//   }

//   @media only screen and (min-width:640px) {
//     font-size: 48px;
//     line-height: 54px;
//   }
// }

// h2, h2.fa  {
//   font-size: 36px;
//   line-height: 42px;

// }

// h3, h3.fa	{
//   font-size: 30px;
//   line-height: 36px;

// }

// h4, h4.fa	{
//   font-size: 24px;
//   line-height: 30px;
// }

// h5, h5.fa  {
//   font-size: 21px;
//   line-height: 27px;
// }

// h6, h6.fa  {
//   font-size: 18px;
//   line-height: 27px;
// }



/**
 *
 * http://madebymike.com.au/writing/precise-control-responsive-typography/
 * https://codepen.io/MadeByMike/pen/YPJJYv
 */

h1 {
  @include fluid-type(font-size, 320px, 900px, 30px, 54px);
  line-height: 120%;
}

h2 {
  @include fluid-type(font-size, 320px, 900px, 24px, 42px);
  line-height: 135%;
}

h3 {
  @include fluid-type(font-size, 320px, 900px, 18px, 30px);
  line-height: 135%;
}

h4 {
  @include fluid-type(font-size, 320px, 900px, 18px, 24px);
  line-height: 135%;
}

h6 {
  @include fluid-type(font-size, 320px, 900px, 16px, 21px);
  line-height: 160%;
}


p {
  @include fluid-type(font-size, 320px, 900px, 16px, 21px);
  line-height: 160%;
}


.fontsize-alpha {
  @include fluid-type(font-size, 320px, 900px, 30px, 72px);
  // font-size: 9vw !important;
  // font-size: calc(4vw - ( ( 1vw * 1vw ) / 10));  // unfortunately this doesnt work
  // font-size: 9vw;
  // line-height: 120%;
  
  // @media only screen and (min-width: 450px) {
  //   font-size: 54px !important;
  //   line-height: 60px;
  // }
  
  // @media only screen and (min-width: 550px) {
  //   font-size: 72px !important;
  //   line-height: 78px; 
  // }
  
  // @media only screen and (min-width: 800px) {
  //   font-size: 72px;
  // }

  // @media only screen and (min-width: 1200px) {
  //   font-size: 81px !important;
  // }
}

.fontsize-beta {
  @include fluid-type(font-size, 320px, 720px, 18px, 30px);
    // font-size: 5.5vw !important;
    // line-height: 138%;

  // @media only screen and (min-width: 400px) {
  //   font-size: 36px !important;
  //   line-height: 40px;
  // }
  
  // @media only screen and (min-width: 450px) {
  //   font-size: 24px !important;
  //   // line-height: 48px;
  // }

  // @media only screen and (min-width: 720px) {
  //   font-size: 30px !important;
  //   // line-height: 48px;
  // }

  // @media only screen and (min-width: 550px) {
  //   font-size: 54px !important;
  //   line-height: 60px; 
  // }
  
  // @media only screen and (min-width: 750px) {
  //   font-size: 60px !important;
  //   line-height: 66px; 
  // }
}

.fontsize-gamma {
  font-size: 36px !important;
  line-height: 42px;
  
  @media only screen and (min-width: 450px) {
    font-size: 42px !important;
    line-height: 48px;
  }
  
  @media only screen and (min-width: 550px) {
    font-size: 54px !important;
    line-height: 60px; 
  }
}

.fontsize-delta {
  font-size: 30px !important;
  line-height: 36px;
  
  @media only screen and (min-width: 450px) {
    font-size: 36px !important;
    line-height: 42px;
  }
  
  @media only screen and (min-width: 550px) {
    font-size: 48px !important;
    line-height: 54px; 
  }
}


.fontsize-epsilon {
  font-size: 24px !important;
  line-height: 30px;
  
  @media only screen and (min-width: 700px) {
    font-size: 30px !important;
    line-height: 36px;
  }
  
  @media only screen and (min-width: 1000px) {
    font-size: 42px !important;
    line-height: 48px; 
  }
}



hr  {
  clear: both;
  height: 2px;
  background-color: $color-darkbeige;

  padding:0;
  border:0;
  margin: 0 0 30px;
}

