<div class="modular-block">
	<h1>{{ page.header.headline }}</h1>
	
  <ul class="list--faq">
  	{% if page.header.faq_items %}
      {% for item in page.header.faq_items %}
        <li><a href="#">{{ item.question }}</a>
        	<div class="faq-item__answer">{{ item.answer }}</div>
      {% endfor %}
    {% endif %}
  </ul> 
</div>