<div class="block  block--stretch block--contactinfo">

    <div class="block">
        {{ page.content }}
    </div>

</div>

<div class="block  block--stretch  block--contactform">
    <div class="block">
        <h1>{{ page.header.formtitle }}</h1>
        {% include "forms/form.html.twig" %}
    </div>
</div>