<div class="block  block--stretch  block--contactform">
    <div class="block">
        <h2>{{ page.find('/contact').header.formtitle }}</h2>
        {% include "forms/form.html.twig" %}
    </div>
    
</div>