<section class="block  block--stretch  block--welcome">

	<div class="block">

		<h1 class="color-{{ page.header.titlecolor }}">{{ page.title }}</h1>

		<div class="video-container">
			<div class="video-wrapper">
				<iframe class="welcome__video" width="560" height="315" src="{{ page.header.videosrc }}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	  
		{{ page.content }}
	</div>
</section>