{% set collection = page.collection() %}

{% set childtype = page.header.childtype %}
{# can be "example", "service", "item" #}

{% set overflow = page.header.overflow %}
{# setting the block to scroll horizontally #}

{% set childtemplate = 'partials/listitem-' ~ childtype ~ '.html.twig' %}

<section class="block  block--stretch  block--{{ childtype }}">

	{% if page.content %}
		<div class="block">
			{{ page.content }}
			{% if overflow %}<a href="" class="js-scrollblock scrollblock" onClick="return false"></a>{% endif %}
		</div>
	{% endif %}

	<div class="block{% if overflow %}--scroll{% endif %}">

		{% if overflow %}<div class="block__scroll-wrapper">{% endif %}
	  	{% for child in collection %}
	    	{% include childtemplate with {'page':child, 'truncate':true } %}
	  	{% endfor %}
  	{% if overflow %}</div>{% endif %}
	</div>

</section>

