<div class="modular-block">

	<div class="video-container">
		<div class="video-wrapper">
			<iframe class="welcome__video" width="560" height="315" src="https://www.youtube.com/embed/Wft6dOmYMng" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
  
	{{ page.content }}
</div>