/* @import must be at top of file, otherwise CSS will not work */
@font-face {font-family: 'Linotte-Regular';src: url('../fonts/2FCE8F_0_0.eot');src: url('../fonts/2FCE8F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FCE8F_0_0.woff2') format('woff2'),url('../fonts/2FCE8F_0_0.woff') format('woff'),url('../fonts/2FCE8F_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Linotte-Light';src: url('../fonts/2FCE8F_1_0.eot');src: url('../fonts/2FCE8F_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FCE8F_1_0.woff2') format('woff2'),url('../fonts/2FCE8F_1_0.woff') format('woff'),url('../fonts/2FCE8F_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Linotte-Bold';src: url('../fonts/2FCE8F_2_0.eot');src: url('../fonts/2FCE8F_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FCE8F_2_0.woff2') format('woff2'),url('../fonts/2FCE8F_2_0.woff') format('woff'),url('../fonts/2FCE8F_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Linotte-Heavy';src: url('../fonts/2FCE8F_3_0.eot');src: url('../fonts/2FCE8F_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FCE8F_3_0.woff2') format('woff2'),url('../fonts/2FCE8F_3_0.woff') format('woff'),url('../fonts/2FCE8F_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Linotte-SemiBold';src: url('../fonts/2FCE8F_4_0.eot');src: url('../fonts/2FCE8F_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FCE8F_4_0.woff2') format('woff2'),url('../fonts/2FCE8F_4_0.woff') format('woff'),url('../fonts/2FCE8F_4_0.ttf') format('truetype');}
 